<section id="section-badges">
    <header>
        <h1 class="_section">Badges</h1>
    </header>
    <article id="badges-base">
        <h2 class="_subSection">Base Style</h2>
        <p class="_large">The base badge style seeks to establish the general sizing and layout. Box padding, font-size, and font-weight treatments are all set here. Badge color combinations are listd within <a href="#badges-styles">the badge styles section.</a></p>
        <p class="callout _info">The default badge style should not be used independently of a badge color combination. Badges are used for specific purposes and should not be re-purposed for different areas.</p>
        <ul class="exampleCards">
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge _small">Base</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge _small">Base</span>{% endhighlight %}
                </div>
            </li>
        </ul>
    </article>
    <article id="badges-styles">
        <h2 class="_subSection">Badge Styles</h2>
        <p class="_large">Badge styles are created for specific instances. In the interest of not confusing users, color combinations should <em>only</em> be used for the specific instances listed below. Using a style for multiple items can create confusion for users. While the labels might be different, we cannot assume people read closely. Color block are added as a foraging aid to help users quickly identify items while scanning instead of reading every word on a page. If you need a unique styles, please consult the Careers product design team.</p>
        <ul class="exampleCards">
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -featured _inline">Featured</span> <span class="badge -featured _abbrev _inline">Featured</span></p>
                </div>
                <div class="codeBlock -twoRows">
{% highlight html linenos %}<span class="badge -featured _inline">Featured</span>
<span class="badge -featured _abbrev _inline">Featured</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -topSpot _inline">Top Spot</span> <span class="badge -topSpot _abbrev _inline">Top Spot</span></p>
                </div>
                <div class="codeBlock -twoRows">
{% highlight html linenos %}<span class="badge -topSpot _inline">Top Spot</span>
<span class="badge -topSpot _abbrev _inline">Top Spot</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -joelTest">12</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge -joelTest">12</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -relocation">Offers Relocation</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge -relocation">Offers Relocation</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -remote">Work Remotely</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge -remote">Work Remotely</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -messages">99+</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge -messages">99+</span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -badgeGroup">
                <div class="-example">
                    <p><span class="badge -invites">212</span></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="badge -invites">212</span>{% endhighlight %}
                </div>
            </li>
        </ul>
    </article>
</section>