<article id="grid-basic-usage">
    <h2 class="_section">Basic Usage</h2>
    <p>The following is a very basic implementation of the grid system. It uses a top level <code>.container</code> class and can contain <code>.-row</code> elements that have <code>.-col*</code> elements directly within <code>.-row</code> elements.</p>

    <div class="exampleBlock -grid">
        <div class="-row">
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
            <div class="-col1"><p><code>.-col1</code></p></div>
        </div>
        <div class="-row">
            <div class="-col8"><p><code>.-col8</code></p></div>
            <div class="-col4"><p><code>.-col4</code></p></div>
        </div>
        <div class="-row">
            <div class="-col4"><p><code>.-col4</code></p></div>
            <div class="-col4"><p><code>.-col4</code></p></div>
            <div class="-col4"><p><code>.-col4</code></p></div>
        </div>
        <div class="-row">
            <div class="-col6"><p><code>.-col6</code></p></div>
            <div class="-col6"><p><code>.-col6</code></p></div>
        </div>
    </div>

{% highlight html linenos %}
<div class="container">
    <div class="-row">
        <div class="-col1"> ... </div>
        ...
        <div class="-col1"> ... </div>
    </div>
    <div class="-row">
        <div class="-col8"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col6"> ... </div>
        <div class="-col6"> ... </div>
    </div>
</div>
{% endhighlight %}
</article>