<section id="section-colors">
    <header>
        <h1 class="_section">Colors</h1>
    </header>
    <article id="colors-primary">
        <h2 class="_subSection">Primary</h2>
        <p class="_large">These are the primary colors for Stack Overflow. Use these for your UI elements, illustrations, or company swag.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col4">
                <div class="orange">
                    <header>
                        <h3 class="-title">Overflow Orange</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>P1585</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>00 61 97 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>244 128 36</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#F48024</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@orange</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-orange50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#FDE3CE</code> &nbsp; <code>@orange-50</code>
                            </div>
                        </div>
                        <div class="-orange100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#FBD4B6</code> &nbsp; <code>@orange-100</code>
                            </div>
                        </div>
                        <div class="-orange200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#F9B885</code> &nbsp; <code>@orange-200</code>
                            </div>
                        </div>
                        <div class="-orange300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#F69C55</code> &nbsp; <code>@orange-300</code>
                            </div>
                        </div>
                        <div class="-orange400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#F48024</code> &nbsp; <code>@orange-400</code>
                            </div>
                        </div>
                        <div class="-orange500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#DA670B</code> &nbsp; <code>@orange-500</code>
                            </div>
                        </div>
                        <div class="-orange600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#A95009</code> &nbsp; <code>@orange-600</code>
                            </div>
                        </div>
                        <div class="-orange700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#793906</code> &nbsp; <code>@orange-700</code>
                            </div>
                        </div>
                        <div class="-orange800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#482204</code> &nbsp; <code>@orange-800</code>
                            </div>
                        </div>
                        <div class="-orange900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#180B01</code> &nbsp; <code>@orange-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="black">
                    <header>
                        <h3 class="-title">Stack Black</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>Black 7</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>38 35 33 92</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>34 36 38</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#222426</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@black</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-black50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#FDFDFD</code> &nbsp; <code>@black-50</code>
                            </div>
                        </div>
                        <div class="-black100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#EFF0F1</code> &nbsp; <code>@black-100</code>
                            </div>
                        </div>
                        <div class="-black200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#DAD6D9</code> &nbsp; <code>@black-200</code>
                            </div>
                        </div>
                        <div class="-black300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#B9BDC1</code> &nbsp; <code>@black-300</code>
                            </div>
                        </div>
                        <div class="-black400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#9EA3A9</code> &nbsp; <code>@black-400</code>
                            </div>
                        </div>
                        <div class="-black500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#848A91</code> &nbsp; <code>@black-500</code>
                            </div>
                        </div>
                        <div class="-black600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#6A7177</code> &nbsp; <code>@black-600</code>
                            </div>
                        </div>
                        <div class="-black700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#52575C</code> &nbsp; <code>@black-700</code>
                            </div>
                        </div>
                        <div class="-black800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#3A3D41</code> &nbsp; <code>@black-800</code>
                            </div>
                        </div>
                        <div class="-black900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#222426</code> &nbsp; <code>@black-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="white">
                    <header>
                        <h3 class="-title">White</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>N/A</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>00 00 00 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>255 255 255</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FFFFFF</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@white</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
        </ul>
    </article>
    <article id="colors-accent">
        <h2 class="_subSection">Accent Colors</h2>
        <p class="_large">These colors are used to support and enhance the Stack Overflow brand experience. They provide a change-of-pace from the core colors. These colors should always be partnered with a primary color.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col4">
                <div class="blue">
                    <header>
                        <h3 class="-title">Blue</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>3005U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>84 52 00 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>0 119 204</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#0077CC</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@blue</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-blue50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#E6F4FF</code> &nbsp; <code>@blue-50</code>
                            </div>
                        </div>
                        <div class="-blue100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#CCEAFF</code> &nbsp; <code>@blue-100</code>
                            </div>
                        </div>
                        <div class="-blue200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#99D4FF</code> &nbsp; <code>@blue-200</code>
                            </div>
                        </div>
                        <div class="-blue300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#66BFFF</code> &nbsp; <code>@blue-300</code>
                            </div>
                        </div>
                        <div class="-blue400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#33AAFF</code> &nbsp; <code>@blue-400</code>
                            </div>
                        </div>
                        <div class="-blue500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#0095FF</code> &nbsp; <code>@blue-500</code>
                            </div>
                        </div>
                        <div class="-blue600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#0077CC</code> &nbsp; <code>@blue-600</code>
                            </div>
                        </div>
                        <div class="-blue700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#005999</code> &nbsp; <code>@blue-700</code>
                            </div>
                        </div>
                        <div class="-blue800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#003B66</code> &nbsp; <code>@blue-800</code>
                            </div>
                        </div>
                        <div class="-blue900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#001E33</code> &nbsp; <code>@blue-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="powder">
                    <header>
                        <h3 class="-title">Powder</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>650U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>10 03 01 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>225 236 244</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#E1ECF4</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@powder</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-powder50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#F4F8FB</code> &nbsp; <code>@powder-50</code>
                            </div>
                        </div>
                        <div class="-powder100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#E1ECF4</code> &nbsp; <code>@powder-100</code>
                            </div>
                        </div>
                        <div class="-powder200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#BCD4E6</code> &nbsp; <code>@powder-200</code>
                            </div>
                        </div>
                        <div class="-powder300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#96BDD9</code> &nbsp; <code>@powder-300</code>
                            </div>
                        </div>
                        <div class="-powder400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#71A5CB</code> &nbsp; <code>@powder-400</code>
                            </div>
                        </div>
                        <div class="-powder500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#4C8DBD</code> &nbsp; <code>@powder-500</code>
                            </div>
                        </div>
                        <div class="-powder600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#39739D</code> &nbsp; <code>@powder-600</code>
                            </div>
                        </div>
                        <div class="-powder700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#2C5777</code> &nbsp; <code>@powder-700</code>
                            </div>
                        </div>
                        <div class="-powder800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#1E3C52</code> &nbsp; <code>@powder-800</code>
                            </div>
                        </div>
                        <div class="-powder900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#10212D</code> &nbsp; <code>@powder-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="yellow">
                    <header>
                        <h3 class="-title">Yellow</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>7499U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>00 01 16 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>255 248 220</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FF8DC</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@yellow</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-yellow50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFFDF6</code> &nbsp; <code>@yellow-50</code>
                            </div>
                        </div>
                        <div class="-yellow100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFF8DC</code> &nbsp; <code>@yellow-100</code>
                            </div>
                        </div>
                        <div class="-yellow200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFEEA9</code> &nbsp; <code>@yellow-200</code>
                            </div>
                        </div>
                        <div class="-yellow300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFE476</code> &nbsp; <code>@yellow-300</code>
                            </div>
                        </div>
                        <div class="-yellow400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFD943</code> &nbsp; <code>@yellow-400</code>
                            </div>
                        </div>
                        <div class="-yellow500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#FFCF10</code> &nbsp; <code>@yellow-500</code>
                            </div>
                        </div>
                        <div class="-yellow600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#DCB000</code> &nbsp; <code>@yellow-600</code>
                            </div>
                        </div>
                        <div class="-yellow700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#A98700</code> &nbsp; <code>@yellow-700</code>
                            </div>
                        </div>
                        <div class="-yellow800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#765E00</code> &nbsp; <code>@yellow-800</code>
                            </div>
                        </div>
                        <div class="-yellow900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#433600</code> &nbsp; <code>@yellow-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="green">
                    <header>
                        <h3 class="-title">Green</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>361U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>64 00 89 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>101 187 92</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#65BB5C</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@green</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-green50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#DCF0DA</code> &nbsp; <code>@green-50</code>
                            </div>
                        </div>
                        <div class="-green100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#CBE8C8</code> &nbsp; <code>@green-100</code>
                            </div>
                        </div>
                        <div class="-green200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#A9D9A4</code> &nbsp; <code>@green-200</code>
                            </div>
                        </div>
                        <div class="-green300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#87CA80</code> &nbsp; <code>@green-300</code>
                            </div>
                        </div>
                        <div class="-green400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#65BB5C</code> &nbsp; <code>@green-400</code>
                            </div>
                        </div>
                        <div class="-green500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#4CA143</code> &nbsp; <code>@green-500</code>
                            </div>
                        </div>
                        <div class="-green600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#3B7D34</code> &nbsp; <code>@green-600</code>
                            </div>
                        </div>
                        <div class="-green700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#2A5925</code> &nbsp; <code>@green-700</code>
                            </div>
                        </div>
                        <div class="-green800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#193516</code> &nbsp; <code>@green-800</code>
                            </div>
                        </div>
                        <div class="-green900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#081107</code> &nbsp; <code>@green-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="forest">
                    <header>
                        <h3 class="-title">Forest</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>362U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>64 00 89 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>101 187 92</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#65BB5C</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@green</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-forest50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#EFF5EE</code> &nbsp; <code>@forest-50</code>
                            </div>
                        </div>
                        <div class="-forest100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#DFECDE</code> &nbsp; <code>@forest-100</code>
                            </div>
                        </div>
                        <div class="-forest200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#C1D9BE</code> &nbsp; <code>@forest-200</code>
                            </div>
                        </div>
                        <div class="-forest300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#A2C69E</code> &nbsp; <code>@forest-300</code>
                            </div>
                        </div>
                        <div class="-forest400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#83B37E</code> &nbsp; <code>@forest-400</code>
                            </div>
                        </div>
                        <div class="-forest500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#64A05E</code> &nbsp; <code>@forest-500</code>
                            </div>
                        </div>
                        <div class="-forest600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#50804B</code> &nbsp; <code>@forest-600</code>
                            </div>
                        </div>
                        <div class="-forest700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#3C6038</code> &nbsp; <code>@forest-700</code>
                            </div>
                        </div>
                        <div class="-forest800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#284025</code> &nbsp; <code>@forest-800</code>
                            </div>
                        </div>
                        <div class="-forest900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#141F13</code> &nbsp; <code>@forest-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="red">
                    <header>
                        <h3 class="-title">Red</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>179U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>00 91 100 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>242 59 20</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#F23B14</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@red</code></td>
                            </tr>
                        </table>
                    </header>
                    <section class="-stops">
                        <div class="-red50 -row">
                            <div class="-col3">
                                <h4 class="-weight">50</h4>
                            </div>
                            <div class="-col9">
                                <code>#FEF0ED</code> &nbsp; <code>@red-50</code>
                            </div>
                        </div>
                        <div class="-red100 -row">
                            <div class="-col3">
                                <h4 class="-weight">100</h4>
                            </div>
                            <div class="-col9">
                                <code>#FDDCD5</code> &nbsp; <code>@red-100</code>
                            </div>
                        </div>
                        <div class="-red200 -row">
                            <div class="-col3">
                                <h4 class="-weight">200</h4>
                            </div>
                            <div class="-col9">
                                <code>#FAB4A5</code> &nbsp; <code>@red-200</code>
                            </div>
                        </div>
                        <div class="-red300 -row">
                            <div class="-col3">
                                <h4 class="-weight">300</h4>
                            </div>
                            <div class="-col9">
                                <code>#F78C75</code> &nbsp; <code>@red-300</code>
                            </div>
                        </div>
                        <div class="-red400 -row">
                            <div class="-col3">
                                <h4 class="-weight">400</h4>
                            </div>
                            <div class="-col9">
                                <code>#F56344</code> &nbsp; <code>@red-400</code>
                            </div>
                        </div>
                        <div class="-red500 -row">
                            <div class="-col3">
                                <h4 class="-weight">500</h4>
                            </div>
                            <div class="-col9">
                                <code>#F23B14</code> &nbsp; <code>@red-500</code>
                            </div>
                        </div>
                        <div class="-red600 -row">
                            <div class="-col3">
                                <h4 class="-weight">600</h4>
                            </div>
                            <div class="-col9">
                                <code>#C72C0B</code> &nbsp; <code>@red-600</code>
                            </div>
                        </div>
                        <div class="-red700 -row">
                            <div class="-col3">
                                <h4 class="-weight">700</h4>
                            </div>
                            <div class="-col9">
                                <code>#982208</code> &nbsp; <code>@red-700</code>
                            </div>
                        </div>
                        <div class="-red800 -row">
                            <div class="-col3">
                                <h4 class="-weight">800</h4>
                            </div>
                            <div class="-col9">
                                <code>#671706</code> &nbsp; <code>@red-800</code>
                            </div>
                        </div>
                        <div class="-red900 -row">
                            <div class="-col3">
                                <h4 class="-weight">900</h4>
                            </div>
                            <div class="-col9">
                                <code>#370C03</code> &nbsp; <code>@red-900</code>
                            </div>
                        </div>
                    </section>
                </div>
            </li>
            <li class="-item -col4">
                <div class="fog">
                    <header>
                        <h3 class="-title">Fog</h3>
                        <table>
                            <tr>
                                <td><strong>Pantone</strong></td>
                                <td><code>Cool Gray 1U</code></td>
                            </tr>
                            <tr>
                                <td><strong>CMYK</strong></td>
                                <td><code>02 01 01 00</code></td>
                            </tr>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>247 248 248</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#F7F8F8</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@fog</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
        </ul>
    </article>
    <article id="colors-product">
        <h2 class="_subSection">Product / UI Colors</h2>
        <p class="_large">These colors are to be used to draw attention to UI elements, highlighting areas of interest, calls-to-action, and important information.</p>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col3">
                <div class="badge-gold">
                    <header>
                        <h4 class="-title">Badge Gold</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>255 204 1</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#FFCC01</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@badge-gold</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="badge-silver">
                    <header>
                        <h4 class="-title">Badge Silver</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>180 184 188</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#B4B8BC</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@badge-silver</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="badge-bronze">
                    <header>
                        <h4 class="-title">Badge Bronze</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>209 166 132</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#D1A684</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@badge-bronze</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
        </ul>
        <ul class="exampleCards -row _gutter">
            <li class="-item -col3">
                <div class="code-black">
                    <header>
                        <h4 class="-title">Code Black</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>46 49 51</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#2E3133</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-black</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-silver">
                    <header>
                        <h4 class="-title">Code Silver</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>132 138 145</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#848A91</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-silver</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-navy">
                    <header>
                        <h4 class="-title">Code Navy</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>8 88 145</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#085891</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-navy</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-blue">
                    <header>
                        <h4 class="-title">Code Blue</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>15 116 189</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#0F74BD</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-blue</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-powder">
                    <header>
                        <h4 class="-title">Code Powder</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>105 152 185</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#6998B9</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-powder</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-maroon">
                    <header>
                        <h4 class="-title">Code Maroon</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>107 41 27</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#6B291B</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-maroon</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
            <li class="-item -col3">
                <div class="code-red">
                    <header>
                        <h4 class="-title">Code Red</h4>
                        <table>
                            <tr>
                                <td><strong>RGB</strong></td>
                                <td><code>230 67 32</code></td>
                            </tr>
                            <tr>
                                <td><strong>HEX</strong></td>
                                <td><code>#E64320</code></td>
                            </tr>
                            <tr>
                                <td><strong>LESS</strong></td>
                                <td><code>@code-red</code></td>
                            </tr>
                        </table>
                    </header>
                </div>
            </li>
        </ul>
    </article>
</section>