<section id="section-forms">
    <header>
        <h1 class="_section">Forms</h1>
    </header>
    <article id="forms-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">These are the basic form input styles currently. The styles below are applied by default and you can modify their appearance with the classes outlined below.</p>
    </article>
    <article id="forms-default">
        <h2 class="_subSection">Default / Focused States</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Default, <code>&lt;input></code> or <code>.input</code></dt>
                <dd class="_example">
                    <label for="exampleInputField" class="_medium">Label Example</label>
                    <p><small class="text _help">Help Text: If you have some instructions beyond the label, place them here. Just remember, users will most likely miss this so have descriptive field labels.</small></p>
                    <input type="text" id="exampleInputField" placeholder="i.e. Placeholder text, Suggestive items">
                    <br/>
                    <div class="inputGroup">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked="checked">
                                Sign me up!
                            </label>
                        </div>
                        </div>
                    <div class="inputGroup">
                        <label class="_medium">I say...</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Group1" checked="checked"> Haters gonna hate, hate, hate
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Group1" > Players gonna play, play, play
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="Group1" > Fakers gonna fake, fake, fake
                            </label>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField" class="_medium">Input Label Example</label>
<p><small class="text _help">...</small></p>
<input type="text" id="exampleInputField" placeholder="i.e. Placeholder text">
<div class="inputGroup">
    <div class="checkbox">
        <label>
            <input type="checkbox" checked="checked">
            Sign me up!
        </label>
    </div>
</div>
<div class="inputGroup">
    <label class="_medium"> ... </label>
    <div class="radio">
        <label>
            <input type="radio" name="Group1" checked="checked"> ...
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Group1" > ...
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="Group1" > ...
        </label>
    </div>
</div>
{% endhighlight %}
        </div>
    </article>
    <article id="forms-disabled">
        <h2 class="_subSection">Disabled State</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Disabled, <code>&lt;input disabled></code> or <code>._disabled</code></dt>
                <dd class="_example">
                    <label for="exampleInputField2">Label Example</label>
                    <input type="text" id="exampleInputField2" value="Disabled text here..." disabled>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField2">Label Example</label>
<input type="text" id="exampleInputField2" value="Disabled text here..." disabled>
{% endhighlight %}
        </div>
    </article>
    <article id="forms-textarea">
        <h2 class="_subSection">Textareas</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>&lt;textarea></code></dt>
                <dd class="_example">
                    <label for="exampleInputField2">Label Example</label>
                    <textarea></textarea>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField2">Label Example</label>
<textarea></textarea>
{% endhighlight %}
        </div>
    </article>
    <article id="forms-validation">
        <h2 class="_subSection">Validation States</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Success, <code>._success</code></dt>
                <dd class="_example">
                    <label for="exampleInputField3">Label Example</label>
                    <input type="email" id="exampleInputField3" class="_success" value="design@stackoverflow.com">
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField3">Label Example</label>
<input type="email" id="exampleInputField3" class="_success" value="design@stackoverflow.com">
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Warning, <code>._warning</code></dt>
                <dd class="_example">
                    <label for="exampleInputField4">Label Example</label>
                    <input type="email" id="exampleInputField4" class="_warning" value="d@so.com">
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField4">Label Example</label>
<input type="email" id="exampleInputField4" class="_warning" value="d@so.com">
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Error, <code>._error</code></dt>
                <dd class="_example">
                    <label for="exampleInputField5">Label Example</label>
                    <input type="email" id="exampleInputField5" class="_error" value="design@">
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField5">Label Example</label>
<input type="email" id="exampleInputField5" class="_error" value="design@">
{% endhighlight %}
        </div>
    </article>
    <article id="forms-sizes">
        <h2 class="_subSection">Input Sizes</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Large, <code>._large</code></dt>
                <dd class="_example">
                    <label for="exampleInputField6">Label Example</label>
                    <input type="email" id="exampleInputField6" class="_large" value="design@stackoverflow.com">
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField6">Label Example</label>
<input type="email" id="exampleInputField6" class="_large" value="...">
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">Small, <code>._small</code></dt>
                <dd class="_example">
                    <label for="exampleInputField7">Label Example</label>
                    <input type="text" id="exampleInputField7" class="_small" placeholder="Enter search terms here...">
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<label for="exampleInputField7">Label Example</label>
<input type="text" id="exampleInputField7" class="_small" placeholder="...">
{% endhighlight %}
        </div>
    </article>
</section>