<section id="section-grid">
    <header>
        <h1 class="_section">Grid System</h1>
    </header>

    <article id="grid-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">This kit includes a responsive, fluid grid system that scales up to 12 columns as the device or viewport size increases. It includes predefined classes for easy layout options, as well as mixins for generating more semantic layouts.</p>

        <p>The grid system that we chose is based off of <a href="http://getbootstrap.com/">Bootstrap's 12 column grid</a>. If you have used it before, the conventions here are nearly identical, with the exception of some class naming conventions.</p>

        <ul>
            <li>Rows must be placed within a <code>.container</code> for proper alignment. There is usually one per page and it contains the contents of that page.</li>
            <li>Use rows to create horizontal groups of columns.</li>
            <li>Content should be placed within columns, and only columns may be immediate children of rows.</li>
            <li>Predefined grid classes like <code>.-row</code> and <code>.-col4</code> are available for quickly making grid layouts. Less mixins can also be used for more semantic layouts.</li>
            <li>Unlike Bootstrap, columns, rows, and containers do <em>not</em> have built in padding or margins.</li>
            <li>Grid columns are created by specifying the number of twelve available columns you wish to span. For example, three equal columns would use three <code>.-col4</code>.</li>
            <li>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</li>
            <li>Unlike Bootstrap, we do not allow column restructuring based on device or viewport size. In other words, we do not allow for a row to contain <code>.-col6</code> on two divs for a tablet, but allow for switching to one div being <code>.-col3</code> and the other <code>.-col9</code> on a mobile device.</li>
        </ul>
    </article>
    <article id="grid-basic-usage">
        <h2 class="_subSection">Basic Usage</h2>
        <p>The following is a very basic implementation of the grid system. It uses a top level <code>.container</code> class and can contain <code>.-row</code> elements that have <code>.-col*</code> elements directly within <code>.-row</code> elements.</p>

        <div class="exampleBlock -grid">
            <div class="-row">
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
                <div class="-col1"><p><code>.-col1</code></p></div>
            </div>
            <div class="-row">
                <div class="-col8"><p><code>.-col8</code></p></div>
                <div class="-col4"><p><code>.-col4</code></p></div>
            </div>
            <div class="-row">
                <div class="-col4"><p><code>.-col4</code></p></div>
                <div class="-col4"><p><code>.-col4</code></p></div>
                <div class="-col4"><p><code>.-col4</code></p></div>
            </div>
            <div class="-row">
                <div class="-col6"><p><code>.-col6</code></p></div>
                <div class="-col6"><p><code>.-col6</code></p></div>
            </div>
        </div>

{% highlight html linenos %}
<div class="container">
    <div class="-row">
        <div class="-col1"> ... </div>
        ...
        <div class="-col1"> ... </div>
    </div>
    <div class="-row">
        <div class="-col8"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
        <div class="-col4"> ... </div>
    </div>
    <div class="-row">
        <div class="-col6"> ... </div>
        <div class="-col6"> ... </div>
    </div>
</div>
{% endhighlight %}
    </article>
    <article id="grid-column-wrapping">
        <h2 class="_subSection">Column Wrapping</h2>

        <p>If more than 12 columns are placed within a single row, each group of extra columns will, as one unit, wrap onto a new line.</p>

        <div class="exampleBlock -grid">
            <div class="-row">
                <div class="-col9">
                    <p><code>.-col9</code></p>
                </div>
                <div class="-col4">
                    <p><code>.-col4</code></p>
                </div>
                <div class="-col6">
                    <p><code>.-col6</code></p>
                </div>
            </div>
        </div>

{% highlight html linenos %}
<div class="-row">
    <div class="-col9"> ... </div>
    <div class="-col4"> ... </div>
    <div class="-col6"> ... </div>
</div>
{% endhighlight %}
    </article>
    <article id="grid-offsetting-columns">
        <h2 class="_subSection">Offsetting Columns</h2>
        <p>Move columns to the right using <code>._offset*</code> classes. These classes increase the left margin of a column by <code>*</code> columns.

        <div class="exampleBlock -grid">
            <div class="-row">
                <div class="-col4">
                    <p><code>.-col4</code></p>
                </div>
                <div class="-col4 _offset4">
                    <p><code>.-col4._offset4</code></p>
                </div>
            </div>
            <div class="-row">
                <div class="-col3 _offset3">
                    <p><code>.-col3._offset3</code></p>
                </div>
                <div class="-col3 _offset3">
                    <p><code>.-col3._offset3</code></p>
                </div>
            </div>
            <div class="-row">
                <div class="-col6 _offset3">
                    <p><code>.-col6._offset3</code></p>
                </div>
            </div>
        </div>

{% highlight html linenos %}
<div class="-row">
    <div class="-col4"> ... </div>
    <div class="-col4 _offset4"> ... </div>
</div>
<div class="-row">
    <div class="-col3 _offset3"> ... </div>
    <div class="-col3 _offset3"> ... </div>
</div>
<div class="-row">
    <div class="-col6 _offset3"> ... </div>
</div>
{% endhighlight %}
    </article>
    <article id="grid-nesting-columns">
        <h2 class="_subSection">Nesting Columns</h2>

        <p>To nest your content with the default grid, just add a new <code>.-row</code> and set of <code>.-col*</code> within an existing <code>.-col*</code> column.</p>

        <div class="exampleBlock -grid">
            <div class="-row">
                <div class="-col9">
                    <p>First level <code>.-col9</code></p>
                    <div class="-row">
                        <div class="-col6">
                            <p>Second level <code>.-col6</code></p>
                        </div>
                        <div class="-col6">
                            <p>Second level <code>.-col6</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% highlight html linenos %}
<div class="-row">
    <div class="-col9">
        ...
        <div class="-row">
            <div class="-col6"> ... </div>
            <div class="-col6"> ... </div>
        </div>
    </div>
</div>
{% endhighlight %}
    </article>
    <article id="grid-column-ordering">
        <h2 class="_subSection">Column Ordering</h2>

        <p>You can change the order of the built in grid columns with <code>._push*</code> and <code>._pull*</code> modifier classes.</p>
        <div class="exampleBlock -grid">
            <div class="-row">
                <div class="-col9 _push3">
                    <p><code>.-col9._push3</code></p>
                </div>
                <div class="-col3 _pull9">
                    <p><code>.-col-md-3._pull9</code></p>
                </div>
            </div>
        </div>

{% highlight html linenos %}
<div class="-row">
    <div class="-col9 _push3"> ... </div>
    <div class="-col3 _pull9"> ... </div>
</div>
{% endhighlight %}
    </article>
    <!--<article id="grid-less-mixins-and-variables">
        <h2 class="_subSection">Less Mixins &amp; Variables</h2>
        <p>We use the following media queries in our Less files to create the key breakpoints in our grid system.</p>

        <pre class="brush: sass">
        @media (min-width: @mediaQuery-small)  { max-width: @mediaQuery-small - 18; }
        @media (min-width: @mediaQuery-medium) { max-width: @mediaQuery-medium - 22; }
        @media (min-width: @mediaQuery-large)  { max-width: @mediaQuery-large - 30; }
        </pre>

        <p>The variables used to defined these widths are as follows</p>

        <pre class="brush: sass">
        @mediaQuery-small:      768px;
        @mediaQuery-medium:     992px;
        @mediaQuery-large:      1200px;
        </pre>
    </article>-->
</section>