<section id="section-icons">
    <header>
        <h1 class="_section">Icons</h1>
    </header>
    <article id="icons-uiIcons">
        <h2 class="_subSection">UI Icons</h2>
        <p class="_large">Icons for the various user interface actions throughout the product.</p>
        <ul class="exampleCards">
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -ui-arrowBack"></span></p>
                    <p class="-label"><strong>Back Arrow</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-arrowBack"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -ui-outLink"></span></p>
                    <p class="-label"><strong>Outbound Link</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-outLink"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -ui-settings"></span></p>
                    <p class="-label"><strong>Settings</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-settings"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -ui-close"></span></p>
                    <p class="-label"><strong>Close</strong> (Yellow Notification Box)</p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-close"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -ui-warning"></span></p>
                    <p class="-label"><strong>Warning</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-warning"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="-wrapper _checkmark"><span class="icon -ui-checkmark"></span></span></p>
                    <p class="-label"><strong>Checkmark</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -ui-checkmark"></span>{% endhighlight %}
                </div>
            </li>
        </ul>
    </article>
    <article id="icons-jobCampaigns">
        <h2 class="_subSection">Job Campaigns</h2>
        <p class="_large">Icons that are specific to the Job Campaigns product.</p>
        <ul class="exampleCards">
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -jobs-remote"></span></p>
                    <p class="-label"><strong>Work Remotely</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -jobs-remote"></span>{% endhighlight %}
                </div>
            </li>
            <li class="-item -iconGroup">
                <div class="-example">
                    <p class="-icon"><span class="icon -jobs-relocate"></span></p>
                    <p class="-label"><strong>Offers Relocation</strong></p>
                </div>
                <div class="codeBlock">
{% highlight html linenos %}<span class="icon -jobs-relocate"></span>{% endhighlight %}
                </div>
            </li>
        </ul>
    </article>
</section>