<section id="section-type">
    <header>
        <h1 class="_section">Typography</h1>
    </header>
    <article id="type-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">Typography is an important design element for Stack Overflow Careers. Strong typography applied consistently can not only build brand recognition and trust, but it can also help establish reliable communication patterns.</p>
        <p>Our general approach to typography is to apply styles to raw html tags including <code>p</code>, <code>h*</code>, <code>strong</code>, and <code>em</code> tags so it stays consistent across the project. This even extends to multi-tag elements like <code>ul</code>, <code>li</code>, <code>blockquote</code>, and <code>dd</code>. In addition, we provide specific use classes like <code>._hugeTitle</code> and <code>._pageTitle</code> that are meant for particular parts of the page.</p>
        <p class="callout _info"><strong>NOTE:</strong> If you are altering pre-determined font-families, font-sizes, font-weights, line-heights, or letter-spacing, please read the <a href="docs-base-type.html">type LESS documentation.</a></p>
    </article>
    <article id="type-fonts">
        <h2 class="_subSection">Typefaces</h2>
        <p>Stack Overflow Careers' typeface is <em>Helvetica Neue Standard</em>. While we may use other weights occasionally, most copy will use Light, Roman, and Bold styles. The following are examples of how they would appear on large type.</p>
        <dl class="_rows exampleBlock">
            <dt class="_label">Light</dt>
            <dd class="_example"><div class="-weights _light">The quick onyx goblin jumps over the lazy dwarf.</div></dd>
            <dt class="_label">Roman</dt>
            <dd class="_styleNormal _example"><div class="-weights">The quick onyx goblin jumps over <em>the lazy dwarf.</em></div></dd>
            <dt class="_label">Bold</dt>
            <dd class="_styleBold _example"><div class="-weights"><strong>The quick onyx goblin jumps over <em>the lazy dwarf.</em></strong></div></dd>
        </dl>
    </article>
    <article id="type-headlines">
        <h2 class="_subSection">Headlines</h2>
        <p>Headlines provide signposts for content as well express content priority. Headlines should descend in order. This means that a <code>&lt;h3></code> shouldn't precede a <code>&lt;h1></code> in the DOM order. The question to ask yourself is, "if this page's CSS didn't load, would this copy still make sense?"</p>

        <h3 class="_subSection">Out-of-Order Headings</h3>
        <p>Header tags communicate content order such as titles, section titles and sub-section titles. <em>A header tag should not be chosen based on the desired style, but on where it is located within the content.</em> Different headline styles can be applied two different ways:</p>
        <ol>
            <li>Apply a header class such as <code>.h3</code> to apply another header's base style to a headline.</li>
            <li>Use a specific style class such as <code>.text ._large</code> to change a header's appearance.</li>
        </ol>
        <p>In the rare case that you would like the visual aesthetics you would get by combining a heading hierarchy <em>out</em> of order, you could do the following instead:</p>
        <p><strong>Correct Use</strong></p>
{% highlight html linenos %}
<h1>This is a page title</h1>
<h2>This is a subheading</h2>
...
<h2 class="h3">This is a modified subheading</h2>
{% endhighlight %}

        <p><strong>Incorrect Use</strong></p>
{% highlight html linenos %}
<h1>This is a page title</h1>
<h3>This is a subheading</h3>
{% endhighlight %}

        <h3 class="_subSection">Heading Caveats</h3>
        <p>The <code>&lt;small&gt;</code> tag, which has "side comment or caveat" semantics, can be used to add explanatory text.</p>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>&lt;small></code></dt>
                <dd class="_example">
                    <h3>Bank Detail Form <small><em>(Optional)</em></small></h3>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h3>Bank Detail Form <small><em>(Optional)</em></small></h3>
{% endhighlight %}
        </div>

        <h3 class="_subSection">Default Headline Styles</h3>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">48px</dt>
                <dd class="_example"><h1>h1. Heading 1 <small>Small Heading 1</small></h1></dd>
                <dt class="_label">36px</dt>
                <dd class="_example"><h2>h2. Heading 2 <small>Small Heading 2</small></h2></dd>
                <dt class="_label">24px</dt>
                <dd class="_example"><h3>h3. Heading 3 <small>Small Heading 3</small></h3></dd>
                <dt class="_label">18px</dt>
                <dd class="_example"><h4>h4. Heading 4 <small>Small Heading 4</small></h4></dd>
                <dt class="_label">14px</dt>
                <dd class="_example"><h5>h5. Heading 5 <small>Small Heading 5</small></h5></dd>
                <dt class="_label">12px</dt>
                <dd class="_example"><h6>h6. Heading 6 <small>Small Heading 6</small></h6></dd>
            </dl>
        </div>
        <br/>

        <h3 class="_subSection">Alternate Heading Styles</h3>
        <p>Standard headers get us most of the way there when it comes to size and style. Yet sometimes we want a slightly different look for specific use-cases across the product.</p>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">60px, <code>._hugeTitle</code></dt>
                <dd class="_example"><h1 class="_hugeTitle">Product Pages</h1></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
    <h1 class="_hugeTitle"> ... </h1>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">36px, <code>._pageTitle</code></dt>
                <dd class="_example"><h2 class="_pageTitle">Ad Server Technology Developer</h2></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h1 class="_pageTitle">...</h1>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">24px, <code>._section</code></dt>
                <dd class="_example"><h4 class="_section">Overall Performance Summary</h4></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h1 class="_section">...</h1>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">18px, <code>._subSection</code></dt>
                <dd class="_example"><h4 class="_subSection">Campaign Statistics</h4></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h1 class="_subSection">...</h1>
{% endhighlight %}
        </div>
    </article>
    <article id="type-copy">
        <h2 class="_subSection">Paragraph &amp; Copy Styles</h2>
        <p>The top design element that we use is written language. Our job is to divide, organize, and interpret this written language so that users can achieve their goals quickly<sup class="fn"><a href="#fn-1">1</a></sup>. This is achieved through optmizing typography for "readability, accessibility, usability, and overall ... balance."</p>
        <p>Below are multiple sizing and style variants for copy. Please use only these variants as are designed to work in concert with each other. Also use of these styles consistently helps maintain a consistent typographic experience across Stack Overflow Careers.</p>
        <ol class="text _footnotes">
            <li id="fn-1"><em>Swiss typographer, <strong>Emil Ruder</strong>, on <a href="http://ia.net/blog/the-web-is-all-about-typography-period/">typographic organization.</a></em></li>
        </ol>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>&lt;p></code>, <code>.text</code></dt>
                <dd class="_example">
                    <p>I'm a bona fide paragraph.</p>
                    <div class="text">I'm not a "paragraph" per se, but I look and behave like one!</div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p>...</p>
<div class="text">...</div>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">36px, <code>._lead</code></dt>
                <dd class="_example">
                    <p class="_lead">The 12 basic principles of animation were developed by the &#145;old men&#146; of Walt Disney Studios, amongst them Frank Thomas and Ollie Johnston, during the 1930s.</p>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_lead">...</p>
{% endhighlight %}
        </div>
    </article>
    <article id="type-sizes">
        <h2 class="_subSection">Text Sizes</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">24px, <code>._xlarge</code></dt>
                <dd class="_example"><p class="_xlarge">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_xlarge">...</p>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">18px, <code>._large</code></dt>
                <dd class="_example"><p class="_large">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_large">...</p>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label">12px, <code>._small</code></dt>
                <dd class="_example"><p class="_small">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_small">...</p>
{% endhighlight %}
        </div>
    </article>
    <article id="type-alignment">
        <h2 class="_subSection">Text Alignment</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>._textLeft</code></dt>
                <dd class="_example"><p class="_textLeft">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
                <dt class="_label"><code>._textCenter</code></dt>
                <dd class="_example"><p class="_textCenter">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
                <dt class="_label"><code>._textRight</code></dt>
                <dd class="_example"><p class="_textRight">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_textLeft">...</p>
<p class="_textCenter">...</p>
<p class="_textRight">...</p>
{% endhighlight %}
        </div>
    </article>
    <article id="type-colors">
        <h2 class="_subSection">Text Colors</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>._muted</code></dt>
                <dd class="_example"><p class="_muted">The quick onyx goblin jumps over the lazy dwarf.</p></dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<p class="_muted">...</p>
{% endhighlight %}
        </div>
    </article>
    <article id="type-quotes">
        <h2 class="_subSection">Quotes</h2>
        <p>Basic <code>blockquote</code> and pull-quote styles. These are used primarily on marketing pages for testimonials or longer copy quote blocks in blog posts.</p>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>blockquote</code>, <code>.quote</code></dt>
                <dd class="_example">
                    <blockquote>It&#146;s approaching your work differently that&#146;ll make you a better designer. Books and talks can be the spark for that.</blockquote>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<blockquote>...</blockquote>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>._accent</code></dt>
                <dd class="_example">
                    <blockquote class="_accent">It&#146;s approaching your work differently that&#146;ll make you a better designer. Books and talks can be the spark for that.</blockquote>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<blockquote class="_accent">...</blockquote>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>._pull</code>, <code>.text._large</code>, </dt>
                <dd class="_example">
                    <blockquote class="_pull text _xlarge">It&#146;s approaching your work differently that&#146;ll make you a better designer. Books and talks can be the spark for that.</blockquote>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<blockquote class="_pull text _xlarge">...</blockquote>
{% endhighlight %}
        </div>
    </article>
    <article id="type-lists">
        <h2 class="_subSection">Lists</h2>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>&lt;ul></code></dt>
                <dd class="_example">
                    <h4>Grocery List</h4>
                    <ul>
                        <li>Eggs</li>
                        <li>Milk</li>
                        <li>Trail Mix
                            <ul>
                                <li>Dried Cherries</li>
                                <li>M&amp;M&#146;s</li>
                                <li>Walnuts</li>
                            </ul>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h4>Grocery List</h4>
<ul>
    <li>Eggs</li>
    ...
    <li>Trail Mix
        <ul>
            <li>Dried Cherries</li>
            ...
        </ul>
    </li>
</ul>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>&lt;ol></code></dt>
                <dd class="_example">
                    <h4>How to build a website:</h4>
                    <ol>
                        <li>Generate an idea</li>
                        <li>Find an amazing developer</li>
                        <li>Build said idea
                            <ol>
                                <li>Sketch out idea
                                    <ol>
                                        <li>Acquire paper and pen</li>
                                        <li>Sketch out idea</li>
                                        <li>Share with co-workers
                                            <ol>
                                                <li>Solicit feedback</li>
                                                <li>Hear out objections</li>
                                                <li>Do what you think is best</li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>Wireframe it up</li>
                                <li>Find an equally amazing designer</li>
                            </ol>
                        </li>
                        <li>Sprinkle in some luck and magic</li>
                        <li>Success!</li>
                    </ol>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<h4>How to build a website:</h4>
<ol>
    <li>Generate an idea</li>
    ...
    <li>Build said idea
        <ol>
            <li>Sketch out idea
                <ol>
                    ...
                    <li>Share with co-workers
                        <ol>
                            <li>Solicit feedback</li>
                            ...
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </li>
                </ol>
{% endhighlight %}
        </div>
        <div class="exampleBlock">
            <dl class="_rows exampleBlock">
                <dt class="_label"><code>&lt;dl></code></dt>
                <dd class="_example">
                    <dl>
                        <dt>stack overflow</dt>
                        <dd>
                            <p>An error condition which results from attempting to push more items onto a stack than space has been allocated for. Often, this will simply overwrite the adjacent memory locations causing hard-to-trace bugs.</p>
                            <p>Stack overflow can result, for example, from an insufficient number of stack frames to handle hardware interrupts.</p>
                            <p>See also, <a href="http://stackoverflow.com">Stack Overflow</a></p>
                        </dd>
                    </dl>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<dl>
    <dt>stack overflow</dt>
    <dd>
        <p> ... </p>
        <p> ... </p>
    </dd>
</dl>
{% endhighlight %}
        </div>
    </article>
</section>