---
layout: default
title: Announcements
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla amet libero, dolorem blanditiis impedit minima voluptas veritatis, odit qui error saepe consectetur at ad eveniet quos, consequuntur adipisci debitis laboriosam.
---

<section class="uikit-section">
    <h2>Sidebar</h2>

    <section class="uikit-section">
        <h3>Community bulletin</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div class="module community-bulletin">
    <div class="related">
        <div class="bulletin-title">Featured on Meta</div>
        <hr>
        
        <div class="spacer">
            <div class="bulletin-item-type">
                <a href="#" class="question-hyperlink">
                    <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                </a>
            </div>
            <div class="bulletin-item-content">
                <a href="#" class="question-hyperlink">Documentation Update, August 29th</a>
            </div>
            <br class="cbt">
        </div>
        <div class="bulletin-title">Hot Meta Posts</div>
        <hr>
        <div class="spacer">
            <div class="bulletin-item-type">
                <span title="Vote score (upvotes - downvotes)">10</span>
            </div>
            <div class="bulletin-item-content">
                <a href="#" class="question-hyperlink">How does the generic off-topic close reason occur?</a>
            </div>
            <br class="cbt">
        </div>
        ...
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div style="width: 300px;"> <!-- had to add this to limit width of sidebar module -->
                    <div class="module community-bulletin">
                        <div class="related">
                            <div class="bulletin-title">Featured on Meta</div>
                            <hr>
                            
                            <div class="spacer">
                                <div class="bulletin-item-type">
                                    <a href="#" class="question-hyperlink">
                                        <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                                    </a>
                                </div>
                                <div class="bulletin-item-content">
                                    <a href="#" class="question-hyperlink">Documentation Update, August 29th</a>
                                </div>
                                <br class="cbt">
                            </div>
                            <div class="bulletin-title">Hot Meta Posts</div>
                            <hr>
                            <div class="spacer">
                                <div class="bulletin-item-type">
                                    <span title="Vote score (upvotes - downvotes)">10</span>
                                </div>
                                <div class="bulletin-item-content">
                                    <a href="#" class="question-hyperlink">How does the generic off-topic close reason occur?</a>
                                </div>
                                <br class="cbt">
                            </div>
                            <div class="spacer">
                                <div class="bulletin-item-type">
                                    <span title="Vote score (upvotes - downvotes)">7</span>
                                </div>
                                <div class="bulletin-item-content">
                                    <a href="#" class="question-hyperlink">Is it acceptable that a user deletes his approved answer after I changed the…</a>
                                </div>
                                <br class="cbt">
                            </div>
                            <div class="spacer">
                                <div class="bulletin-item-type">
                                    <span title="Vote score (upvotes - downvotes)">11</span>
                                </div>
                                <div class="bulletin-item-content">
                                    <a href="#" class="question-hyperlink">Strange script or bug, while reviewing the answer</a>
                                </div>
                                <br class="cbt">
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>