---
layout: default
title: Cards
description: Visual containers for related content.
---
{% include lists/default-lists.html %}

<section class="uikit-section" data-careers>
    <h2>Company Pages Cards</h2>
    <p>These are all separate cards to represent the same company page in different views.</p>
    <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
To be added
{% endhighlight %}
        <div class="uikit-preview">
            <img src="../../assets/stickers/card-cp-dashboard.png" />
            <img src="../../assets/stickers/card-cp-overview.png" />
            <img src="../../assets/stickers/card-cp-spotlight.png" />
        </div>
    </div>
</section>