---
layout: default
title: Dropdowns
description: Buttons are interactive elements that allow users to accomplish tasks. They can be created using an <code>a</code>, <code>button</code>, or an <code>input</code> tag. Ideally buttons use <code>button</code> or <code>input</code> tags, but they can be applied to <code>a</code> tags when needed. If a button is disabled, use the disabled attribute on <code>button</code> or <code>input</code> element. For <code>a</code> elements, apply a <code>._disabled</code> class.
---

<section class="uikit-section" data-core>
    <h2 id="toc-simple-dropdown-for-core">Simple dropdown for core</h2>

    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </pre>

        <div class="uikit-preview" data-minheight="160">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-careers>
    <h2 id="toc-simple-dropdown-for-careers">Simple dropdown for Careers</h2>

    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </pre>

        <div class="uikit-preview" data-minheight="160">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section">
    <h2 id="toc-simple-dropdown-for-everyone">Simple dropdown for everyone</h2>

    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </pre>

        <div class="uikit-preview" data-minheight="160">
            <ul class="dropdown">
                <li><a href="#" class="">all tags</a></li>
                <li><a href="#" class="">favorite tags</a></li>
                <li><a href="#" class="selected">custom tags</a></li>
            </ul>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>