---
layout: default
title: Grid
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2 id="toc-without">Without padding</h2>
    <p>The grid comes with 12 columns. Grid's container needs <code>box-sizing: border-box;</code></p>

    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-8"></div>
                <div class="col-4"></div>
            </div>

            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </pre>

        <div class="uikit-preview grid-preview">
            <div class="row">
                <div class="col-1">abc</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
                <div class="col-1">col-1</div>
            </div>

            <div class="row">
                <div class="col-8">col-8</div>
                <div class="col-4">col-4</div>
            </div>

            <div class="row">
                <div class="col-4">col-4</div>
                <div class="col-4">col-4</div>
                <div class="col-4">col-4</div>
            </div>
            <br>
            <small>(additional styling has been added to visually present grid in example above)</small>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section">
    <h2 id="toc-with-padding">With padding</h2>
    <p>The grid comes with 12 columns. Grid's container needs <code>box-sizing: border-box;</code>.</p>

    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <div class="row">
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
                <div class="col-1 with-padding"></div>
            </div>

            <div class="row">
                <div class="col-8 with-padding"></div>
                <div class="col-4 with-padding"></div>
            </div>

            <div class="row">
                <div class="col-4 with-padding"></div>
                <div class="col-4 with-padding"></div>
                <div class="col-4 with-padding"></div>
            </div>
        </pre>

        <div class="uikit-preview grid-preview">
            <div class="row">
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
                <div class="col-1 with-padding">col-1</div>
            </div>

            <div class="row">
                <div class="col-8 with-padding">col-8</div>
                <div class="col-4 with-padding">col-4</div>
            </div>

            <div class="row">
                <div class="col-4 with-padding">col-4</div>
                <div class="col-4 with-padding">col-4</div>
                <div class="col-4 with-padding">col-4</div>
            </div>

            <br>
            <small>(additional styling has been added to visually present grid in example above)</small>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>