---
layout: default
title: Hero boxes
description: All those bix boxes on top of the page which we use to inform users about something or to announce new feature etc...
---

<section class="uikit-section" data-core>
    <h2 id="toc-notifications-style-1">Anonymous herobox</h2>

    <section class="uikit-section">
        <h3 id="toc-inline">Full</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="herobox">
    <div id="hero-content">
        <div id="close"><a title="click to minimize">_</a></div>
        <div id="blurb">
            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
            <br>
            <br>
            <a href="#" id="tell-me-more" class="button">What is meta?</a>
        </div>
        <div id="desc">
            <b>Here's how it works:</b>
            <ol id="hiw">
                <li id="q">Any Stack Exchange user can ask a question</li>
                <li id="an">The community provides support, votes on ideas, and reports bugs</li>
                <li id="b">Your voice helps shape the way Stack Exchange operates</li>
            </ol>
        </div>
        <div style="clear: both"></div>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="herobox">
                    <div id="hero-content">
                        <div id="close"><a title="click to minimize">_</a></div>
                        <div id="blurb">
                            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
                            <br>
                            <br>
                            <a href="#" id="tell-me-more" class="button">What is meta?</a>
                        </div>
                        <div id="desc">
                            <b>Here's how it works:</b>
                            <ol id="hiw">
                                <li id="q">Any Stack Exchange user can ask a question</li>
                                <li id="an">The community provides support, votes on ideas, and reports bugs</li>
                                <li id="b">Your voice helps shape the way Stack Exchange operates</li>
                            </ol>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-full-width">Minimized</h2>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div id="herobox-mini">
    <div id="hero-content">
        <span id="controls">
            <a href="#" id="tell-me-more" class="button">What is meta?</a>
            <span id="close"><a title="click to dismiss">×</a></span>
        </span>
        <div id="blurb">
            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
        </div>        
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="herobox-mini">
                    <div id="hero-content">
                        <span id="controls">
                            <a href="#" id="tell-me-more" class="button">What is meta?</a>
                            <span id="close"><a title="click to dismiss">×</a></span>
                        </span>
                        <div id="blurb">
                            Meta Stack Exchange is where users like you discuss bugs, features, and support issues that affect the software powering all 2 Stack Exchange communities.
                        </div>        
                    </div>
                </div>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>


<section class="uikit-section" data-core>
    <h2>Documentation</h2>

    <section class="uikit-section">
        <h3>Step 1</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="hero-box double-panel doctour js-onboarding">
    <div class="step blue" data-step="1">
        <div class="panel left_panel col-4 text-left">
            <div class="hero-content">
                <h1 class="hero_title">
                    Welcome to Meta Stack Exchange
                    <span>Documentation</span>
                </h1>
                <div class="subtitle">
                    <p>Working together as a community to build the best reference material for developer tools on the internet.</p>
                </div>
            </div>

            <div class="hero-cta">
                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="2">Learn More</a>
                <ul class="hero-pager">
                    <li class="youarehere">
                        <a href="javascript:void(0)" data-step="1"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="2"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="3"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="4"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel right_panel col-8">
            <div class="hero-content">
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="2">
                        <div class="img img-1"></div>
                        <h3>Examples First</h3>
                        <p>Relevant examples are the most important part of documentation.</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="3">
                        <div class="img img-2"></div>
                        <h3>Edited Together</h3>
                        <p>Collaborate with other developers in the community.</p>
                    </a>
                </div>
                <div class="col-4">
                    <a href="javascript:void(0)" data-step="4">
                        <div class="img img-3"></div>
                        <h3>Earn Reputation</h3>
                        <p>Reputation rewards valuable contributions.</p>
                    </a>
                </div>
            </div>
            <div class="hero-dismiss">Dismiss</div>
        </div>
    </div>
</div>
{% endhighlight %}
            
            <div class="uikit-preview">
                <div class="hero-box double-panel doctour js-onboarding">
                    <div class="step blue" data-step="1">
                        <div class="panel left_panel col-4 text-left">
                            <div class="hero-content">
                                <h1 class="hero_title">
                                    Welcome to Meta Stack Exchange
                                    <span>Documentation</span>
                                </h1>
                                <div class="subtitle">
                                    <p>Working together as a community to build the best reference material for developer tools on the internet.</p>
                                </div>
                            </div>

                            <div class="hero-cta">
                                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="2">Learn More</a>
                                <ul class="hero-pager">
                                    <li class="youarehere">
                                        <a href="javascript:void(0)" data-step="1"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="2"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="3"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="4"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel right_panel col-8">
                            <div class="hero-content">
                                <div class="col-4">
                                    <a href="javascript:void(0)" data-step="2">
                                        <div class="img img-1"></div>
                                        <h3>Examples First</h3>
                                        <p>Relevant examples are the most important part of documentation.</p>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0)" data-step="3">
                                        <div class="img img-2"></div>
                                        <h3>Edited Together</h3>
                                        <p>Collaborate with other developers in the community.</p>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <a href="javascript:void(0)" data-step="4">
                                        <div class="img img-3"></div>
                                        <h3>Earn Reputation</h3>
                                        <p>Reputation rewards valuable contributions.</p>
                                    </a>
                                </div>
                            </div>
                            <div class="hero-dismiss">Dismiss</div>
                        </div>
                    </div>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3>Step 2</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="hero-box double-panel doctour js-onboarding">
    <div class="step" data-step="2">
        <div class="panel white left_panel col-4 text-left">
            <div class="hero-content">
                <h2 class="panel_title">Examples First</h2>
                <p><b>Show, Don’t Tell.</b></p>
                <p><span class="icon icon-example"></span>Examples are the most important part of documentation. Every <span class="icon icon-topic"></span>Topic, large or small, must have an example.</p>
                <p>Each Example shows how to accomplish a task, is self-contained, and succinct.</p>
            </div>

            <div class="hero-cta ">
                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="1">Previous</a>
                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="3">Next</a>
                <ul class="hero-pager">
                    <li class="">
                        <a href="javascript:void(0)" data-step="1"></a>
                    </li>
                    <li class="youarehere">
                        <a href="javascript:void(0)" data-step="2"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="3"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="4"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel blue right_panel col-8">
            <div class="hero-dismiss">Dismiss</div>
        </div>
    </div>
</div>
{% endhighlight %}
            
            <div class="uikit-preview">
                <div class="hero-box double-panel doctour js-onboarding">
                    <div class="step" data-step="2">
                        <div class="panel white left_panel col-4 text-left">
                            <div class="hero-content">
                                <h2 class="panel_title">Examples First</h2>
                                <p><b>Show, Don’t Tell.</b></p>
                                <p><span class="icon icon-example"></span>Examples are the most important part of documentation. Every <span class="icon icon-topic"></span>Topic, large or small, must have an example.</p>
                                <p>Each Example shows how to accomplish a task, is self-contained, and succinct.</p>
                            </div>

                            <div class="hero-cta ">
                                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="1">Previous</a>
                                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="3">Next</a>
                                <ul class="hero-pager">
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="1"></a>
                                    </li>
                                    <li class="youarehere">
                                        <a href="javascript:void(0)" data-step="2"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="3"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="4"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel blue right_panel col-8">
                            <div class="hero-dismiss">Dismiss</div>
                        </div>
                    </div>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3>Step 3</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="hero-box double-panel doctour js-onboarding">
    <div class="step hidden" data-step="3">
        <div class="panel white left_panel col-4 text-left">
            <div class="hero-content">
                <h2 class="panel_title">Community Edited</h2>
                <p>Anyone can propose an <span class="icon icon-edit"></span>edit. All edits are vetted by the Community in the <span class="icon icon-proposed-changes"></span>Proposed Changes queue.</p>
                <p>New content is prompted by <span class="icon icon-topic-requests"></span>Topic Requests, and <span class="icon icon-improvement-requests"></span>Improvement Requests — which can come from anyone.</p>
            </div>

            <div class="hero-cta ">
                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="2">Previous</a>
                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="4">Next</a>
                <ul class="hero-pager">
                    <li class="">
                        <a href="javascript:void(0)" data-step="1"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="2"></a>
                    </li>
                    <li class="youarehere">
                        <a href="javascript:void(0)" data-step="3"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="4"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel blue right_panel col-8">
            <div class="hero-dismiss">Dismiss</div>
        </div>
    </div>
</div>
{% endhighlight %}
            
            <div class="uikit-preview">
                <div class="hero-box double-panel doctour js-onboarding">
                    <div class="step" data-step="3">
                        <div class="panel white left_panel col-4 text-left">
                            <div class="hero-content">
                                <h2 class="panel_title">Community Edited</h2>
                                <p>Anyone can propose an <span class="icon icon-edit"></span>edit. All edits are vetted by the Community in the <span class="icon icon-proposed-changes"></span>Proposed Changes queue.</p>
                                <p>New content is prompted by <span class="icon icon-topic-requests"></span>Topic Requests, and <span class="icon icon-improvement-requests"></span>Improvement Requests — which can come from anyone.</p>
                            </div>

                            <div class="hero-cta ">
                                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="2">Previous</a>
                                <a href="javascript:void(0)" title="Continue" class="btn next-previous-btn" data-step="4">Next</a>
                                <ul class="hero-pager">
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="1"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="2"></a>
                                    </li>
                                    <li class="youarehere">
                                        <a href="javascript:void(0)" data-step="3"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="4"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel blue right_panel col-8">
                            <div class="hero-dismiss">Dismiss</div>
                        </div>
                    </div>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3>Step 4</h3>

        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="hero-box double-panel doctour js-onboarding">
    <div class="step" data-step="4">
        <div class="panel white full_panel col-6 text-left">
            <div class="hero-content">
                <h2 class="panel_title">Earn Reputation</h2>
                <div class="col-12">
                    <div class="hero-dismiss">Dismiss</div>
                    <div class="col-3">
                        <div class="img img-1"></div>
                        <h3>Example upvoted</h3>
                        <p>All contributors receive +5 rep.</p>
                    </div>
                    <div class="col-3">
                        <div class="img img-2"></div>
                        <h3>Upvotes on answers that cite Documentation</h3>
                        <p>All contributors receive +5 rep</p>
                    </div>
                    <div class="col-3">
                        <div class="img img-3"></div>
                        <h3>Requested topic created</h3>
                        <p>+2 rep is granted to the requestor.</p>
                    </div>
                    <div class="col-3">
                        <div class="img img-4"></div>
                        <h3>Proposed change approved</h3>
                        <p>+2 rep is granted to the editor.</p>
                    </div>
                </div>
            </div>

            <div class="hero-cta full-tour-linked">
                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="3">Previous</a>
                <ul class="hero-pager">
                    <li class="">
                        <a href="javascript:void(0)" data-step="1"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="2"></a>
                    </li>
                    <li class="">
                        <a href="javascript:void(0)" data-step="3"></a>
                    </li>
                    <li class="youarehere">
                        <a href="javascript:void(0)" data-step="4"></a>
                    </li>
                </ul>
                <a href="/tour/documentation" class="full-tour-link btn-clear" title="Take the full tour">Take the full tour</a>
            </div>
        </div>
    </div>
</div>
{% endhighlight %}
            
            <div class="uikit-preview">
                <div class="hero-box double-panel doctour js-onboarding">
                    <div class="step" data-step="4">
                        <div class="panel white full_panel col-6 text-left">
                            <div class="hero-content">
                                <h2 class="panel_title">Earn Reputation</h2>
                                <div class="col-12">
                                    <div class="hero-dismiss">Dismiss</div>
                                    <div class="col-3">
                                        <div class="img img-1"></div>
                                        <h3>Example upvoted</h3>
                                        <p>All contributors receive +5 rep.</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="img img-2"></div>
                                        <h3>Upvotes on answers that cite Documentation</h3>
                                        <p>All contributors receive +5 rep</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="img img-3"></div>
                                        <h3>Requested topic created</h3>
                                        <p>+2 rep is granted to the requestor.</p>
                                    </div>
                                    <div class="col-3">
                                        <div class="img img-4"></div>
                                        <h3>Proposed change approved</h3>
                                        <p>+2 rep is granted to the editor.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="hero-cta full-tour-linked">
                                <a href="javascript:void(0)" title="Previous" class="btn-outlined next-previous-btn" data-step="3">Previous</a>
                                <ul class="hero-pager">
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="1"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="2"></a>
                                    </li>
                                    <li class="">
                                        <a href="javascript:void(0)" data-step="3"></a>
                                    </li>
                                    <li class="youarehere">
                                        <a href="javascript:void(0)" data-step="4"></a>
                                    </li>
                                </ul>
                                <a href="/tour/documentation" class="full-tour-link btn-clear" title="Take the full tour">Take the full tour</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>
