---
layout: default
title: Labels
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2 id="#">Default labels</h2>

    <section class="uikit-section">
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<span class="label-box">Regular</span>
<span class="label-box _gray">Gray</span>
<span class="label-box _default-font-size">With default body font size</span>
{% endhighlight %}

            <div class="uikit-preview">
                <span class="label-box">Regular</span>
                <span class="label-box _gray">Gray</span>
                <br>
                <br>
                <span class="label-box _default-font-size">With forced default body font size (useful inside headers)</span>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

</section>
