---
layout: default
title: Lists
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2>Simple</h2>

    <section class="uikit-section">
        <h3>Number + title</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div id="sidebar" class="show-votes" style="float:none;"> <!-- i had to add this container -->
    <div class="module sidebar-related">
        <h4 id="h-related">Related</h4>
        <div class="related js-gps-related-questions">
            <div class="spacer js-gps-track">
                <a href="#" title="Vote score (upvotes - downvotes)">
                    <div class="answer-votes answered-accepted large">497</div>
                </a>
                <a class="question-hyperlink" href="#">JSON serialization of enum as string</a>
            </div>
            <div class="spacer js-gps-track">
                <a href="#" title="Vote score (upvotes - downvotes)">
                <div class="answer-votes default">
                    1
                </div></a><a class="question-hyperlink" href="#">.NET Xml Serialization AnonymousType</a>
            </div>
            ...
        </div>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="sidebar" class="show-votes" style="float:none;"> <!-- i had to add this container -->
                    <div class="module sidebar-related">
                        <h4 id="h-related">Related</h4>
                        <div class="related js-gps-related-questions">
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                    <div class="answer-votes answered-accepted large">497</div>
                                </a>
                                <a class="question-hyperlink" href="#">JSON serialization of enum as string</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    13
                                </div></a><a class="question-hyperlink" href="#">C# - Deserialize JSON to anonymous object</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    1
                                </div></a><a class="question-hyperlink" href="#">.NET Xml Serialization AnonymousType</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="# title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    0
                                </div></a><a class="question-hyperlink" href="#">Spring.Core.TypeMismatchException: Cannot convert property value of type Dictionary</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    1
                                </div></a><a class="question-hyperlink" href="#">XmlSerializer throwing exception with generic list during serialization</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes default">
                                    3
                                </div></a><a class="question-hyperlink" href="#">Unable to cast Anonymous Type from 'System.Linq.IQueryable' to 'System.Data.Entity.Core.Objects.ObjectQuery'</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    0
                                </div></a><a class="question-hyperlink" href="#">Assert.Equal anonymous objects across assemblies fails</a>
                            </div>
                            <div class="spacer js-gps-track">
                                <a href="#" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted default">
                                    -1
                                </div></a><a class="question-hyperlink" href="#">combine two field value in single field anonymous type linq</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- / uikit-section -->

    <section class="uikit-section">
        <h3>Icon + title</h3>

        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<div id="sidebar" class="show-votes" style="float:none;"> <!-- i had to add this container -->
    <div class="module" id="hot-network-questions">
        <h4><a class="js-gps-track" href="#">Hot Network Questions</a></h4>
        <ul>
            <li>
                <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a class="js-gps-track" href="#">How to generate bold face numbers in LaTeX as they appear in Microsoft Word or PowerPoint?</a>
            </li>
            <li>
                <div class="favicon favicon-askubuntu" title="Ask Ubuntu"></div><a class="js-gps-track" href="#">How to show a difference between the usage of '*' , '+' and '?' in grep?</a>
            </li>
            ...
        </ul>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div id="sidebar" class="show-votes" style="float:none;"> <!-- i had to add this container -->
                    <div class="module" id="hot-network-questions">
                        <h4><a class="js-gps-track" href="#">Hot Network Questions</a></h4>
                        <ul>
                            <li>
                                <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a class="js-gps-track" href="#">How to generate bold face numbers in LaTeX as they appear in Microsoft Word or PowerPoint?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-askubuntu" title="Ask Ubuntu"></div><a class="js-gps-track" href="#">How to show a difference between the usage of '*' , '+' and '?' in grep?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-english" title="English Language &amp; Usage Stack Exchange"></div><a class="js-gps-track" href="#">Is there a word for telling someone all your thoughts?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-chemistry" title="Chemistry Stack Exchange"></div><a class="js-gps-track" href="#">What does a number in brackets after another number mean? I.e. 21(1)cm-1</a>
                            </li>
                            <li>
                                <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a class="js-gps-track" href="#">How to overcome a mistake you make in your proof and regain motivation?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-puzzling" title="Puzzling Stack Exchange"></div><a class="js-gps-track" href="#">Liar and the Truth teller with 6 inhabitants</a>
                            </li>
                            <li>
                                <div class="favicon favicon-math" title="Mathematics Stack Exchange"></div><a class="js-gps-track" href="#">Is there a "positive" definition for irrational numbers?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-ell" title="English Language Learners Stack Exchange"></div><a class="js-gps-track" href="#">Assigned to a job I know nothing about it - is there an idiom for that idea?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a class="js-gps-track" href="#">Learning new topic: read literature from oldest to newest or the other way around?</a>
                            </li>
                            <li>
                                <div class="favicon favicon-writers" title="Writers Stack Exchange"></div><a class="js-gps-track" href="#">How to describe an angry voice in dialogue?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="uikit-section" data-careers>
        <div class="uikit-code uikit-has-preview">
            
{% highlight html linenos %}
<div id="recent-searches">
    <div class="_border">
        <h2 class="sidebar-sectionTitle">
            Your Recent Searches
        </h2>
        <a class="delete" target="_blank">clear</a>
    </div>
    <div>
        <ul>
                <li><a href="#">“stack overflow” jobs</a></li>
                <li><a href="#">Jobs within 20 km of new york</a></li>
                <li><a href="#">Jobs within 20 km of San fran</a></li>
        </ul>
    </div>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <img src="http://i.imgur.com/oesCQd5.png" alt="">
            </div>
        </div>
    </section><!-- / uikit-section -->
</section><!-- / uikit-section -->