---
layout: default
title: Miscellaneous
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">

    <section class="uikit-section">
        <h3 id="">Loader in links</h3>
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
<a href="#" class="loading">Loading</a>
{% endhighlight %}

            <div class="uikit-preview">
                <a href="#" class="loading">Loading</a>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="">User card</h3>
        <div class="uikit-code uikit-has-preview">

{% highlight html linenos %}
...
{% endhighlight %}

            <div class="uikit-preview">

                <div class="user-info ">
                    <div class="user-action-time">
                        asked <span title="2016-07-15 09:40:29Z" class="relativetime">3 hours ago</span>
                    </div>
                    <div class="user-gravatar32">
                        <a href="#"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/9e88fcf2540becd3d8da32074ef26557?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
                    </div>
                    <div class="user-details">
                        <a href="/users/4270211/akshat-arora">John Doe</a>
                        <div class="-flair">
                            <span class="reputation-score" title="reputation score " dir="ltr">395</span>
                            <span title="10 gold badges"><span class="badge1"></span><span class="badgecount">10</span></span>
                            <span title="2 silver badges"><span class="badge2"></span><span class="badgecount">2</span></span>
                            <span title="14 bronze badges"><span class="badge3"></span><span class="badgecount">14</span></span>
                        </div>
                    </div>
                </div>

            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

</section>
