---
layout: default
title: Notifications
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2 id="toc-notifications-style-1">Notifications style 1</h2>

    <section class="uikit-section">
        <h3 id="toc-inline">Inline</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="message regular">.message.regular</div>
<div class="message error">.message.error</div>
<div class="message success">.message.success</div>
<div class="message incomplete">.message.incomplete</div>
<div class="message gray">.message.gray</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="message regular">.message.regular</div>
                <div class="message error">.message.error</div>
                <div class="message success">.message.success</div>
                <div class="message incomplete">.message.incomplete</div>
                <div class="message gray">.message.gray</div>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-full-width">Full width</h2>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="message centered-block regular">.message.centered-block.regular</div>
<div class="message centered-block text-centered regular">.message.text-centered.regular</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="message centered-block regular">.message.centered-block.regular</div>
                <div class="message centered-block text-centered regular">.message.text-centered.regular</div>
            </div><!-- / preview -->
        </div><!-- / uikit-code uikit-has-preview -->
    </section>
</section>

<section class="uikit-section">
    <h2 id="toc-notifications-style-2">Notifications style 2</h2>

    <section class="uikit-section">
        <h3 id="toc-info">Info</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-info">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
<div class="val-message val-info">
    <p class="val-textemphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-info">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>

                <div class="val-message val-info">
                    <p class="val-textemphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-success">Success</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-success">
    <span class="vote-accepted-on" title="success"></span>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-success">
                    <span class="vote-accepted-on" title="success"></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-preview -->
    </section>

    <section class="uikit-section">
        <h3 id="toc-error">Error</h3>
        <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="val-message val-error">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>
{% endhighlight %}

            <div class="uikit-preview">
                <div class="val-message val-error">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div><!-- / uikit-preview -->
        </div><!-- / uikit-preview -->
    </section>
</section>

<section class="uikit-section">
    <h2 id="toc-system-alert">System alert</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
 <div class="module system-alert">
    <p>You are not <a href="#">logged in</a>. Your edit will be placed in a queue until it is <a href="#">peer reviewed</a>.</p>
    <p>We welcome all constructive edits, but please make them substantial. Avoid trivial edits unless absolutely necessary.</p>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="module system-alert">
                <p>You are not <a href="#">logged in</a>. Your edit will be placed in a queue until it is <a href="#">peer reviewed</a>.</p>
                <p>We welcome all constructive edits, but please make them substantial. Avoid trivial edits unless absolutely necessary.</p>
           </div>
        </div><!-- / uikit-preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>