---
layout: default
title: Popovers
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2>Default</h2>
    <div class="uikit-code uikit-has-preview">
        <pre class="uikit-prettyprint linenums">
            <div class="message message-config" style="width: 250px; display: block;"> <!-- "display: block" doesn't have to be there if popover should be initially hidden -->
                <div class="message-inner message-tip message-tip-top-left">
                    <div class="message-close">×</div>

                    <div class="message-text">
                        <h4 class="popup-title">Suspendisse augue nunc</h4>

                        <div class="popup-white">
                            <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                            <div class="actions">
                                <a href="#" class="button">Call to action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </pre>

        <div class="uikit-preview">
            <div class="message message-config" style="width: 250px; display: block;">
                <div class="message-inner message-tip message-tip-top-left">
                    <div class="message-close">×</div>

                    <div class="message-text">
                        <h4 class="popup-title">Suspendisse augue nunc</h4>

                        <div class="popup-white">
                            <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                            <div class="actions">
                                <a href="#" class="button">Call to action</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>