<!DOCTYPE html>
<html>
<head>
    <title>UIkit | Popovers</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/ui-kit/assets/img/favicon.ico">
    <link rel="apple-touch-icon image_src" href="/ui-kit/assets/img/apple-touch-icon.png">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/ui-kit/assets/less/uikit-layout.less">
    <link rel="stylesheet/less" type="text/css" href="../../StackOverflow/StackOverflow/Content/Sites/stackoverflow/all.less">

    <script src="/ui-kit/assets/js/less.js"></script>
    <script src="/ui-kit/assets/js/jquery.js"></script>
    <script src="/ui-kit/assets/js/main.js"></script>

    <link rel="import" href="../nav.html">
</head>

<body>
    <section id="uikit-sidebar">
        <div class="uikit-logo">
            <a href="../index.html">UIkit</a>
        </div><!-- / logo -->

        <div id="nav-wrapper"></div>
        <script>
            var link = document.querySelector('link[rel="import"]');
            var content = link.import;

            var el = content.querySelector('.uikit-nav');


            document.getElementById('nav-wrapper').appendChild(el.cloneNode(true));
        </script>
    </section><!-- / sidebar -->

    <!-- <section id="uikit-sidebar-right">
        <nav id="uikit-toc">
            <ol>
                <li><a href="#toc-default"></a></li>
            </ol>
        </nav>
    </section> -->

    <main id="uikit-content">
        <header>
            <h1>Popover</h1>
        </header>
        <div class="uikit-intro">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum aliquid, blanditiis quos culpa aliquam, numquam provident alias. Ex neque voluptatibus necessitatibus laboriosam, facilis cupiditate rem repellendus dolorum laborum, fugit.</p>
        </div><!-- / intro -->

        <section class="uikit-section">
            <h2>Default</h2>
            <div class="uikit-code uikit-has-preview">
                <pre class="uikit-prettyprint linenums">
                    <div class="message message-config" style="width: 250px; display: block;"> <!-- "display: block" doesn't have to be there if popover should be initially hidden -->
                        <div class="message-inner message-tip message-tip-top-left">
                            <div class="message-close">×</div>

                            <div class="message-text">
                                <h4 class="popup-title">Suspendisse augue nunc</h4>

                                <div class="popup-white">
                                    <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                                    <div class="actions">
                                        <a href="#" class="button">Call to action</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </pre>

                <div class="uikit-preview">
                    <div class="message message-config" style="width: 250px; display: block;">
                        <div class="message-inner message-tip message-tip-top-left">
                            <div class="message-close">×</div>

                            <div class="message-text">
                                <h4 class="popup-title">Suspendisse augue nunc</h4>

                                <div class="popup-white">
                                    <p>Maecenas cursus lacus eu sapien varius consectetur. Morbi cursus massa nec.</p>

                                    <div class="actions">
                                        <a href="#" class="button">Call to action</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- / preview -->
            </div><!-- / uikit-code uikit-has-preview -->
        </section>

    </main><!-- / content -->

    <script>
        String.prototype.escapeHTML = function () {
            return( this.replace(/>/g,'&gt;').replace(/</g,'&lt;').replace(/"/g,'&quot;') );
        };

        var codeEl = document.getElementsByClassName('uikit-prettyprint'),
            key;
        for( key in codeEl ) {
            if( !isNaN(key) ) { codeEl[key].innerHTML = codeEl[key].innerHTML.escapeHTML(); }
        }
    </script>
</body>

</html>
