---
layout: default
title: Progress bars
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2 id="toc-default">Default</h2>
    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="progress-bar-regular">
    <div class="label">label</div>
    <div class="bar">
        <div class="percent" style="width:50%;"></div>
    </div>
</div>

<div class="progress-bar green">
    <div class="bar">
        <div class="label">
            <i class="icon icon-milestone" title="Milestone"></i>See votes, expandable usercard
        </div>
        <div class="percent" style="width: 56%;"></div>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="progress-bar-regular">
                <div class="label">label</div>
                <div class="bar">
                    <div class="percent" style="width:50%;"></div>
                </div>
            </div>

            <div class="progress-bar green">
                <div class="bar">
                    <div class="label">
                        <i class="icon icon-milestone" title="Milestone"></i>See votes, expandable usercard
                    </div>
                    <div class="percent" style="width: 56%;"></div>
                </div>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section" data-inprogress>
    <h2 id="toc-undocumented">Undocumented</h2>
    <ul>
        <li>.small</li>
        <li>.percent</li>
        <li>.rounded</li>
        <li>.inline</li>
        <li>.gray</li>
        <li>.progress-bar-large</li>
        <li>.progress-bar-regular</li>
    </ul>
</section>