---
layout: default
title: Tabs
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel reiciendis dolore reprehenderit fugiat natus, magni quos dicta? Eaque amet nostrum assumenda architecto fugiat dicta ut in voluptate, voluptatem corrupti ducimus!
---

<section class="uikit-section">
    <h2 id="toc-tabs">Tabs</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="subheader">
    <div class="tabs">
        <a href="#" class="youarehere">Lorem</a>
        <a href="#">Ipsum</a>
        <a href="#">Dolor</a>
        <a href="#">Sir</a>
        <a href="#">Amet</a>
    </div>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="subheader">
                <div class="tabs">
                    <a href="#" class="youarehere">Lorem</a>
                    <a href="#">Ipsum</a>
                    <a href="#">Dolor</a>
                    <a href="#">Sir</a>
                    <a href="#">Amet</a>
                </div>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>

<section class="uikit-section">
    <h2 id="toc-sub-tabs">Sub tabs</h2>

    <div class="uikit-code uikit-has-preview">
{% highlight html linenos %}
<div class="subtabs">
    <a href="#">all</a>
    <a href="#">year</a>
    <a href="#">quarter</a>
    <a href="#">month</a>
    <a class="youarehere" href="#">week</a>
</div>
{% endhighlight %}

        <div class="uikit-preview">
            <div class="subtabs">
                <a href="#">all</a>
                <a href="#">year</a>
                <a href="#">quarter</a>
                <a href="#">month</a>
                <a class="youarehere" href="#">week</a>
            </div>
        </div><!-- / preview -->
    </div><!-- / uikit-code uikit-has-preview -->
</section>