<!DOCTYPE html>
<html>
<head>
    <title>UIkit | Tooltips</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="shortcut icon" href="/ui-kit/assets/img/favicon.ico">
    <link rel="apple-touch-icon image_src" href="/ui-kit/assets/img/apple-touch-icon.png">

    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="stylesheet/less" type="text/css" href="/ui-kit/assets/less/uikit-layout.less">
    <link rel="stylesheet/less" type="text/css" href="../../StackOverflow/StackOverflow/Content/Sites/stackoverflow/all.less">

    <script src="/ui-kit/assets/js/less.js"></script>
    <script src="/ui-kit/assets/js/jquery.js"></script>
    <script src="/ui-kit/assets/js/main.js"></script>

    <link rel="import" href="../nav.html">
</head>

<body>
    <section id="uikit-sidebar">
        <div class="uikit-logo">
            <a href="../index.html">UIkit</a>
        </div><!-- / logo -->

        <div id="nav-wrapper"></div>
        <script>
            var link = document.querySelector('link[rel="import"]');
            var content = link.import;

            var el = content.querySelector('.uikit-nav');


            document.getElementById('nav-wrapper').appendChild(el.cloneNode(true));
        </script>
    </section><!-- / sidebar -->

    <section id="uikit-sidebar-right">
        <nav id="uikit-toc">
            <ol>
                <li><a href="#toc-css-only-tooltip">CSS only tooltip</a></li>
                <li><a href="#toc-basic-tooltip">Basic tooltip</a></li>
            </ol>
        </nav><!-- / uikit-toc -->
    </section><!-- / uikit-sidebar-right -->

    <main id="uikit-content">
        <header>
            <h1>Tooltips</h1>
        </header>
        <div class="uikit-intro">
            <p>Intro</p>
        </div><!-- / intro -->

        <section class="uikit-section">
            <h2 id="toc-css-only-tooltip">CSS only tooltip</h2>
            <p>The easiest way to display a tooltip is to use the css only version. The tooltip will automatically takes 100% of its parent's width. You can set a defined size of 200px using <code>.size-200</code>.</p>

            <div class="uikit-code uikit-has-preview">
                <pre class="uikit-prettyprint linenums">
                    <a href="#" class="button has-tooltip">
                        Trigger tooltip
                        <span class="informative-tooltip display-above">
                            I'm a CSS only tooltip!
                        </span>
                    </a>

                    <a href="#" class="button has-tooltip">
                        200px width tooltip
                        <span class="informative-tooltip display-above size-200">
                            I'm a 200px wide CSS only tooltip!
                        </span>
                    </a>
                </pre>

                <div class="uikit-preview">
                    <a href="#" class="button has-tooltip">
                        Trigger tooltip

                        <span class="informative-tooltip display-above">
                            I'm a CSS only tooltip!
                        </span>
                    </a>

                    <a href="#" class="button has-tooltip">
                        200px width tooltip

                        <span class="informative-tooltip display-above size-200">
                            I'm a 200px wide CSS only tooltip!
                        </span>
                    </a>
                </div><!-- / preview -->
            </div><!-- / uikit-code uikit-has-preview -->
        </section>

        <section class="uikit-section">
            <h2 id="toc-basic-tooltip">Basic tooltip</h2>
            <p>They need JS in order to be triggered/displayed. You also need to set their size.</p>

            <div class="uikit-code uikit-has-preview">
                <pre class="uikit-prettyprint linenums">
                    <div class="informative-tooltip arrow up-left">Tooltip up left</div>
                    <div class="informative-tooltip arrow up-center">Tooltip up center</div>
                    <div class="informative-tooltip arrow up-right">Tooltip up right</div>

                    <div class="informative-tooltip arrow down-left">Tooltip down left</div>
                    <div class="informative-tooltip arrow down-center">Tooltip down center</div>
                    <div class="informative-tooltip arrow down-right">Tooltip down right</div>

                    <div class="informative-tooltip arrow left-top">Tooltip left top</div>
                    <div class="informative-tooltip arrow left-center">Tooltip left center</div>
                    <div class="informative-tooltip arrow left-bottom">Tooltip left bottom</div>

                    <div class="informative-tooltip arrow right-top">Tooltip right top</div>
                    <div class="informative-tooltip arrow right-center">Tooltip right center</div>
                    <div class="informative-tooltip arrow right-bottom">Tooltip right bottom</div>
                </pre>

                <div class="uikit-preview tooltips-preview">
                    <div class="informative-tooltip arrow up-left">Tooltip up left</div>
                    <div class="informative-tooltip arrow up-center">Tooltip up center</div>
                    <div class="informative-tooltip arrow up-right">Tooltip up right</div>

                    <div class="informative-tooltip arrow down-left">Tooltip down left</div>
                    <div class="informative-tooltip arrow down-center">Tooltip down center</div>
                    <div class="informative-tooltip arrow down-right">Tooltip down right</div>

                    <div class="informative-tooltip arrow left-top">Tooltip left top</div>
                    <div class="informative-tooltip arrow left-center">Tooltip left center</div>
                    <div class="informative-tooltip arrow left-bottom">Tooltip left bottom</div>

                    <div class="informative-tooltip arrow right-top">Tooltip right top</div>
                    <div class="informative-tooltip arrow right-center">Tooltip right center</div>
                    <div class="informative-tooltip arrow right-bottom">Tooltip right bottom</div>
                </div><!-- / preview -->
            </div><!-- / uikit-code uikit-has-preview -->
        </section>
    </main><!-- / content -->

    <script>
        String.prototype.escapeHTML = function () {
            return( this.replace(/>/g,'&gt;').replace(/</g,'&lt;').replace(/"/g,'&quot;') );
        };

        var codeEl = document.getElementsByClassName('uikit-prettyprint'),
            key;
        for( key in codeEl ) {
            if( !isNaN(key) ) { codeEl[key].innerHTML = codeEl[key].innerHTML.escapeHTML(); }
        }
    </script>
</body>

</html>
