<article id="grid-offsetting-columns">
    <h2 class="_section">Offsetting Columns</h2>
    <p>If you would like columns to maintain a fixed distance between each other, you can use the <code>._offset*</code> classes to accomplish this. This class adds a <code>margin-left</code> to a column.

    <div class="exampleBlock -grid">
        <div class="-row">
            <div class="-col4">
                <p><code>.-col4</code></p>
            </div>
            <div class="-col4 _offset4">
                <p><code>.-col4._offset4</code></p>
            </div>
        </div>
    </div>

{% highlight html linenos %}
<div class="-row">
    <div class="-col4"> ... </div>
    <div class="-col4 _offset4"> ... </div>
</div>
{% endhighlight %}
</article>