<section id="section-cards">
    <header>
        <h1 class="_section">Cards</h1>
    </header>

    <article id="cards-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">Cards are contained modules which highlight key information.</p>
    </article>
    <article id="cards-jobs">
        <h2 class="_subSection">Job Listings</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Cards, <code>.card.-jobs</code></dt>
                <dd class="_example">
                    <div class="-row _gutter">
                        <div class="card -jobs -col6">
                            <header class="-row">
                                <div class="-col11">
                                    <h1 class="-title"><a href="#">Senior Product Designer</a></h1>
                                    <p class="-meta">Owned by <strong>Pieter DePree</strong> &bullet; Expires <strong>Jun. 26</strong></p>
                                </div>
                                <div class="-col1 _textRight">
                                    <div class="popout">
                                        <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                    </div>
                                </div>
                            </header>
                            <aside class="notice -warning -row">
                                <div class="-col8"><strong>Expires in 14 days.</strong></div>
                                <div class="-col4 _textRight"><a href="#">Renew listing</a></div>
                            </aside>
                            <section class="-stats -row">
                                <div class="-label -col12">Stats <small>last 30 days</small></div>
                                <div class="-number">1120 <small>Views</small></div>
                                <div class="-number">54 <small>Applications</small></div>
                            </section>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="card -jobs">
    <header class="-row">
        <div class="-col11">
            <h1 class="-title"><a href="#">Senior Product Designer</a></h1>
            <p class="-meta">Owned by <strong>Pieter DePree</strong> ... </p>
        </div>
        <div class="-col1 _textRight">
            <div class="popout">
                <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
            </div>
        </div>
    </header>
    <aside class="-notice -row">
        <div class="-col8"><strong>Expires in 14 days.</strong></div>
        <div class="-col4 _textRight"><a href="#">Renew listing</a></div>
    </aside>
    <section class="-stats -row">
        <div class="-label -col12">Stats <small>last 30 days</small></div>
        <div class="-number">1120 <small>Views</small></div>
        <div class="-number">54 <small>Applications</small></div>
    </section>
</div>
{% endhighlight %}
        </div>
    </article>
    <article id="cards-pages">
        <h2 class="_subSection">Company Pages</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Cards, <code>.card.-pages._stacked</code> <code>.card.-pages._full</code></dt>
                <dd class="_example">
                    <div class="-row">
                        <div class="card -pages _stacked  is-published -col4">
                            <span class="icon -ui-checkmark"></span>
                            <div class="-cover" style="background-image: url('lib/images/photos/photo-summerStack.jpg')"></div>
                            <div class="-content">
                                <div class="-logo"><img src="lib/images/logos/logo-SO_glyph.png" alt="Stack Overflow"></div>
                                <div class="-info">
                                    <h1 class="-title"><a href="">Stack Overflow</a></h1>
                                    <p class="-meta">Owned by <strong>Will Cole</strong> &bullet; Updated <strong>Feb. 15</strong></p>
                                </div>
                                <div class="-stats -row">
                                    <div>
                                        <div class="-label">Stats <small>last 30 days</small></div>
                                        <div class="-number">3817 <small>Views</small></div>
                                        <div class="-number">399 <small>Applications</small></div>
                                    </div>
                                    <div>
                                        <div class="-label">Jobs</div>
                                        <div class="-number">3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card -pages _full is-published -col12">
                            <span class="icon -ui-checkmark"></span>
                            <div class="-cover" style="background-image: url('lib/images/photos/photo-summerStack.jpg')"></div>
                            <div class="-content">
                                <div class="-logo"><img src="lib/images/logos/logo-SO_glyph.png" alt="Stack Overflow"></div>
                                <div class="-info">
                                    <h1 class="-title"><a href="">Stack Overflow</a></h1>
                                    <p class="-meta">Owned by <strong>Will Cole</strong> &bullet; Updated <strong>Feb. 15</strong></p>
                                </div>
                                <div class="-stats -row">
                                    <div>
                                        <div class="-label">Stats <small>last 30 days</small></div>
                                        <div class="-number">3817 <small>Views</small></div>
                                        <div class="-number">399 <small>Applications</small></div>
                                    </div>
                                    <div>
                                        <div class="-label">Jobs</div>
                                        <div class="-number">3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="card -pages _stacked">
    <div class="-cover" style="background-image: url('photo.jpg')"></div>
    <div class="-content">
        <div class="-logo"><img src="logo.png" alt="Stack Overflow"></div>
        <div class="-info">
            <h1 class="-title"><a href="">Stack Overflow</a></h1>
            <p class="-meta">Owned by <strong>Will Cole</strong> ... </p>
        </div>
        <div class="-stats -row">
            <div>
                <div class="-label">Stats <small>last 30 days</small></div>
                <div class="-number">3817 <small>Views</small></div>
                <div class="-number">399 <small>Applications</small></div>
            </div>
            <div>
                <div class="-label">Jobs</div>
                <div class="-number">3</div>
            </div>
        </div>
    </div>
</div>

<div class="card -pages _full">
    ...
</div>
{% endhighlight %}
        </div>
    </article>
</section>