<section id="section-headers">
    <header>
        <h1 class="_section">Headers</h1>
    </header>
    <article id="headers-intro">
        <p class="_large">Headers are UI elements, applied at page, section, and sub-section levels, that provide context, wayfinding help, and visual separation for key calls-to-action.</p>
    </article>
    <article id="headers-page">
        <h2 class="_subSection">Header: Page-Level</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>header.-page</code></dt>
                <dd class="_example">
                    <header class="-page">
                        <div class="_border -row">
                            <h1 class="-title">Job Listings</h1>
                        </div>
                    </header>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<header class="-page">
    <div class="_border -row">
        ...
    </div>
</header>
{% endhighlight %}
        </div>
    </article>
    <article id="headers-pagePlus">
        <h2 class="_subSection">Header: Page-Level, Detail Page</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>header.-page</code></dt>
                <dd class="_example">
                    <header class="-page">
                        <div class="-row _border">
                            <div class="-col6">
                                <p class="_large"><a href="#"><span class="icon -ui-arrowBack"></span> Back to previous page</a></p>
                            </div>
                            <div class="-col6 _textRight">
                                <a href="#" class="btn _primary _small">New Search</a>
                            </div>
                        </div>
                        <div class="-row">
                            <h1 class="-title">[Search Title]</h1>
                            <a href="#" class="btn _clear _small">Edit Title</a>
                        </div>
                    </header>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<header class="-page">
    <div class="-row _border">
        ...
    </div>
    <div class="-row">
        ...
    </div>
</header>
{% endhighlight %}
        </div>
    </article>
    <article id="headers-sectionBase">
        <h2 class="_subSection">Header: Section-Level, Base</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>header.-section</code></dt>
                <dd class="_example">
                    <header class="-section -row">
                        <h2 class="-title">Job Listings</h2>
                    </header>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<header class="-section -row">
    <h2 class="-title">Job Listings</h2>
</header>
{% endhighlight %}
        </div>
    </article>
    <article id="headers-sectionBorders">
        <h2 class="_subSection">Header: Section-Level, Borders</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>header.-section._border</code></dt>
                <dd class="_example">
                    <header class="-section">
                        <div class="_border -row">
                            <div class="-col6">
                                <h2 class="-title">Job Listings</h2>
                            </div>
                            <div class="-col6 _textRight">
                                <a href="#" class="btn _primary">Create Listing</a>
                            </div>
                        </div>
                    </header>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<header class="-section -row">
    <div class="_border">
        ...
    </div>
</header>
{% endhighlight %}
        </div>
    </article>
</section>