<section id="section-lists">
    <header>
        <h1 class="_section">Lists</h1>
    </header>

    <article id="lists-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">Lists are a way to present content group in a clean, logical manner.</p>
    </article>
    <article id="lists-base">
        <h2 class="_subSection">Base Style</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.list</code></dt>
                <dd class="_example">
                    <ul class="list">
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Senior Product Designer</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>an hour ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Untitled Search on 6/30/2015</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>never :(</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Dummy Job Title</a></h3>
                                <p class="-meta"><strong>24</strong> Profiles Saved &bullet; Last accessed <strong>4 days ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="list">
    <li class="-item -row">
        ...
    </li>
    ...
</ul>
{% endhighlight %}
        </div>
    </article>
    <article id="lists-styles">
        <h2 class="_subSection">List Styles</h2>
        <h4>Borders</h4>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Borders, <code>.list._border</code></dt>
                <dd class="_example">
                    <ul class="list _border">
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Senior Product Designer</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>an hour ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Untitled Search on 6/30/2015</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>never :(</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Dummy Job Title</a></h3>
                                <p class="-meta"><strong>24</strong> Profiles Saved &bullet; Last accessed <strong>4 days ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="list _border">
    ...
</ul>
{% endhighlight %}
        </div>
        <h4>Thicker Padding</h4>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Header <code>.list._border._thicker</code></dt>
                <dd class="_example">
                    <ul class="list _border _thicker">
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Senior Product Designer</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>an hour ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Untitled Search on 6/30/2015</a></h3>
                                <p class="-meta"><strong>0</strong> Profiles Saved &bullet; Last accessed <strong>never :(</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col10">
                                <h3 class="-title"><a href="#">Dummy Job Title</a></h3>
                                <p class="-meta"><strong>24</strong> Profiles Saved &bullet; Last accessed <strong>4 days ago</strong></p>
                            </div>
                            <div class="-col2 _textRight">
                                <div class="popout">
                                    <a href="#"><span class="icon -ui-downArrow">Actions</span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="list _border _thicker">
    ...
</ul>
{% endhighlight %}
        </div>
        <h4>Header</h4>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Header <code>.list._border</code></dt>
                <dd class="_example">
                    <ul class="list _border">
                        <li class="-header">
                            <h2 class="-title">Job Editors</h2>
                            <p class="-meta">All users who can manage this job listing.</p>
                        </li>
                        <li class="-item -row">
                            <div class="-col8">
                                <h3 class="-title">
                                    Pieter DePree
                                    <span class="badge -owner _inline">Owner</span>
                                    <span class="badge -admin _inline">Admin</span>
                                </h3>
                                <p class="-meta">p@stackoverflow.com</p>
                            </div>
                            <div class="-col4 _textRight">
                                <a href="#" class="btn _clear _small">Change Owner</a>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col8">
                                <h3 class="-title">
                                    Will Cole
                                    <span class="badge -admin _inline">Admin</span>
                                </h3>
                                <p class="-meta">w@stackoverflow.com</p>
                            </div>
                            <div class="-col4 _textRight">
                                <a href="#" class="btn _clear _small _warning _disabled">Remove</a>
                            </div>
                        </li>
                        <li class="-item -row">
                            <div class="-col8">
                                <h3 class="-title">Jin Yang</h3>
                                <p class="-meta">j@stackoverflow.com</p>
                            </div>
                            <div class="-col4 _textRight">
                                <a href="#" class="btn _clear _small _warning">Remove</a>
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="list _border">
    <li class="-header">
        <h2 class="-title">...</h2>
        <p class="-meta">...</p>
    </li>
    ...
</ul>
{% endhighlight %}
        </div>
    </article>
</section>