<section id="section-notice">
    <header>
        <h1 class="_section">Notices</h1>
    </header>
    <article id="notice-intro">
        <p class="_large">Notices are UI elements which call out important information to users. They should be terse, informative, and actionable. Whenever possible, they should also be dismissible.</p>
    </article>
    <article id="notice-base">
        <h2 class="_subSection">Default Style</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.notice</code></dt>
                <dd class="_example">
                    <div class="notice -row">
                        <p class="_muted"><em>You currently don't have any messages.</em></p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="notice">
    ...
</div>
{% endhighlight %}
        </div>
    </article>
    <article id="notice-variations">
        <h2 class="_subSection">Notice Variations</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.notice .-info</code></dt>
                <dd class="_example">
                    <div class="notice -info -row">
                        <div class="-col8">
                            <p>The event <em>New York City Web Developers</em> is <strong>now open.</strong></p>
                        </div>
                        <div class="-col4 _textRight">
                            <a href="#" class="btn _small _clear">Dismiss</a>
                            <a href="#" class="btn _small _primary">Browse Event</a>
                        </div>
                    </div>
                    <div class="notice -warning -row">
                        <div class="-col8">
                            <p><strong class="badge -note">Note:</strong> <strong>Awaiting approval</strong> for <em>New York City Web Developers</em> event.</p>
                        </div>
                        <div class="-col4 _textRight">
                            <a href="#" class="btn _small _clear">Dismiss</a>
                            <a href="#" class="btn _small _outlined">Review Profile</a>
                        </div>
                    </div>
                    <div class="notice -success -row">
                        <div class="-col8">
                            <p><strong>You've been approved</strong> for the <em>New York City Web Developers</em> event.</p>
                        </div>
                        <div class="-col4 _textRight">
                            <a href="#" class="btn _small _clear">Dismiss</a>
                            <a href="#" class="btn _small _outlined">Review Profile</a>
                        </div>
                    </div>
                    <div class="notice -danger -row">
                        <p><span class="icon -ui-warning"></span> One listing will expire in 8 days on <strong>June 20</strong>. <a href="#">Use it now!</a></p>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="notice -info">
    ...
</div>
<div class="notice -warning">
    ...
</div>
<div class="notice -success">
    ...
</div>
<div class="notice -danger">
    ...
</div>
{% endhighlight %}
        </div>
    </article>
</section>