<section id="section-rollup">
    <header>
        <h1 class="_section">Content Rollup</h1>
    </header>
    <article id="rollup-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">The purpose of these blocks is to summarize the data when a title will not suffice. Sometimes a title can provide enough distinction, yet other times more information is needed so the user can distinguish similar content types, such as payment information.</p>
    </article>
    <article id="rollup-base">
        <h2 class="_subSection">Rollup Base</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.contentRollup</code></dt>
                <dd class="_example">
                    <div class="contentRollup">
                        <div class="-header -row">
                            <div class="-col8">
                                <a href=""><img src="lib/images/favicon-SE_glyph.png" alt="Stack Exchange Mini Logo" class="-favicon"> Stack Exchange</a>
                            </div>
                            <div class="-col4 _textRight">
                                <a href="" class="btn _inline _clear _danger">Remove</a> <a href="" class="btn _inline _secondary">Edit</a>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="contentRollup">
    <div class="-header -row">
        ...
    </div>
</div>
{% endhighlight %}
        </div>
    </article>
    <article id="rollup-expanded">
        <h2 class="_subSection">Expanded Rollup</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.contentRollup</code> &gt; <code>.-content</code></dt>
                <dd class="_example">
                    <div class="contentRollup">
                        <div class="-header -row">
                            <div class="-col8">
                                <p>
                                    <img src="lib/images/cc-visa.png" alt="Visa Logo"/ class="-cc_visa"> Visa ending in 1111 <span class="text _small _muted">Expires 11/2020</span>
                                </p>
                            </div>
                            <div class="-col4 _textRight">
                                <a href="" class="btn _inline _clear _danger">Remove</a> <a href="" class="btn _inline _secondary">Edit</a>
                            </div>
                        </div>
                        <div class="-content -row">
                            <div class="-col2">
                                <dl class="_rows">
                                    <dt>Name on card</dt>
                                    <dd>Jack Sinclair</dd>
                                </dl>
                            </div>
                            <div class="-col10">
                                <dl class="_rows">
                                    <dt>Billing Address</dt>
                                    <dd>
                                        <address>
                                            100 William St., 28th Floor<br/>
                                            New York, NY 10038
                                        </address>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<div class="contentRollup">
    ...
    <div class="-content">
        ...
    </div>
</div>
{% endhighlight %}
        </div>
    </article>
</section>