<section id="section-tabs">
    <header>
        <h1 class="_section">Tabs</h1>
    </header>

    <article id="tabs-intro">
        <h2 class="_subSection">Introduction</h2>
        <p class="_large">TBD</p>
    </article>
    <article id="tabs-base">
        <h2 class="_subSection">Defaut Style</h2>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label">Default, <code>.tabNav</code></dt>
                <dd class="_example">
                    <ul class="tabNav">
                        <li class="-tab _selected">
                            <a href="#">Stack Overflow</a>
                        </li>
                        <li class="-tab">
                            <a href="#">Server Fault</a>
                        </li>
                        <li class="-tab">
                            <a href="#">Super User</a>
                        </li>
                    </ul>
                    <div class="tabNav-borderBottom"></div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="tabNav">
    <li class="-tab _selected">
        <a href="#">Stack Overflow</a>
    </li>
    <li class="-tab">
        <a href="#">Server Fault</a>
    </li>
    ...
</ul>
<div class="tabNav-borderBottom"></div>
{% endhighlight %}
        </div>
    </article>
    <article id="tabs-board">
        <h2 class="_subSection">Dashboard Tabs</h2>
        <p>When we want to summarize a tab's content, we use a control that we're calling <code>.tabBoard</code> (Tabs + Dashboard). It works. This is used typically within reporting contexts where users can learn all the important information at a glance, but then select the stat to view a further detailed breakdown.</p>
        <p class="callout _info"><strong>NOTE:</strong> There should be no more than three tabs per a group.</p>
        <div class="exampleBlock">
            <dl class="_rows">
                <dt class="_label"><code>.tabBoard</code></dt>
                <dd class="_example">
                    <ul class="tabBoard">
                        <li class="-tab _selected">
                            <a href="#" class="-content">
                                <div class="-row stat">
                                    <div>
                                        <h1 class="-value _large">11,951</h1>
                                    </div>
                                    <div class="_contentLabel">
                                        <h2 class="-label _large">Views <small class="is-better">22%</small></h2>
                                    </div>
                                    <div class="_secondary">
                                        <h1 class="-value">433</h1>
                                        <h2 class="-label">Daily Avg <small class="is-better">5.75%</small></h2>
                                    </div>
                                </div>
                            </a>
                            <span></span>
                        </li>
                        <li class="-tab">
                            <a href="#" class="-content">
                                <div class="-row stat">
                                    <div>
                                        <h1 class="-value _large">402</h1>
                                    </div>
                                    <div class="_contentLabel">
                                        <h2 class="-label _large">Applications <small class="is-worse">10.5%</small></h2>
                                    </div>
                                    <div class="_secondary">
                                        <h1 class="-value">3.36%</h1>
                                        <h2 class="-label">CTR <small class="is-worse">0.35%</small></h2>
                                    </div>
                                </div>        
                            </a>
                            <span></span>
                        </li>
                    </ul>
                    <div class="tabNav-borderBottom"></div>
                </dd>
            </dl>
        </div>
        <div class="codeBlock">
{% highlight html linenos %}
<ul class="tabBoard">
    <li class="-tab _selected">
        <a href="#" class="-content">
            <div class="-row stat">
                <div>
                    <h1 class="-value _large">11,951</h1>
                </div>
                <div class="_contentLabel">
                    <h2 class="-label _large">
                        Views
                        <small class="is-better">22%</small>
                    </h2>
                </div>
                <div class="_secondary">
                    <h1 class="-value">433</h1>
                    <h2 class="-label">
                        Daily Avg 
                        <small class="is-better">5.75%</small>
                    </h2>
                </div>
            </div>
        </a>
        <span></span>
    </li>
    ...
</ul>
<div class="tabNav-borderBottom"></div>
{% endhighlight %}
        </div>
    </article>
</section>